<h1>Latex</h1>

<ul>
<li><%= link_to 'Plenary latex', plenaries_latex_path(format: :tex) %></li>
<li><%= link_to 'Minitutorials latex', minitutorials_latex_path(format: :tex) %></li>

<!-- ordinato per numero -->
<li><%= link_to 'Minisymposia (abstracts) latex', minisymposia_latex_path(format: :tex) %></li>
<li><%= link_to 'Contributed (abstracts) latex', contributed_latex_path(format: :tex) %></li>
<li><%= link_to 'Poster (abstracts) latex', posters_latex_path(format: :tex) %></li>

<!-- ordinato per schedule -->
<li><%= link_to 'Program latex', posters_latex_path(format: :tex) %></li>
</ul>

<p class="alert alert-success">
Ricorda <a href="https://github.com/donapieppo/siamis/tree/master/tex">https://github.com/donapieppo/siamis/tree/master/tex</a>.<br/>
In particolare <a href="https://raw.githubusercontent.com/donapieppo/siamis/master/tex/IS18_program.tex">IS18_program.tex</a> e le immagini in 
<a href="https://tester.dm.unibo.it/siamis/tex_images_speakers.tar.gz">https://tester.dm.unibo.it/siamis/tex_images_speakers.tar.gz</a> da mettere in
images.
</p>
