<h1>Latex</h1>

<ul>
<li><%= link_to 'Plenary latex', plenaries_latex_path(format: :tex) %></li>
<li><%= link_to 'Minitutorials latex', minitutorials_latex_path(format: :tex) %></li>
<li><%= link_to 'Minisymposia latex', minisymposia_latex_path(format: :tex) %></li>
<li><%= link_to 'Contributed latex', contributed_latex_path(format: :tex) %></li>
<li><%= link_to 'Poster latex', poster_latex_path(format: :tex) %></li>
</ul>
