<%= program_title('Poster Sessions', 'picture-o') %>  

<% if user_in_organizer_committee? %>  
  <p>
  Actual poster sessions: 
  <% PosterSession.order(:name).each do |ps| %>  
    <%= link_to ps, ps %>
  <% end %>
  </p>
  <p class="centered"><%= link_to 'Create Poster Session', new_poster_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'contributed_sessions/description' %>  
<%# <%= render partial: 'deadlines/presentation_submission' %1> %>  

<% if false and user_in_organizer_committee? %> 
  <ul class="list-group">
  <% @conference_sessions.each do |cs| %>
      <li class="list-group-item">
        <%= link_to cs, cs %> 
      </li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'when_and_map' %>  

<% poster_with_paper_ids = user_in_review_committee? ? Presentation.with_paper_ids : nil %>  

<div class="list-group">
  <%= cache_unless poster_with_paper_ids, 'presentations_list_cache' do %>
    <% Presentation.at_poster.order(:number, :name).each do |presentation| %>  
      <div class="list-group-item">
        <%= link_to presentation, presentation, remote: true %> 
        <span class='pull-right'>
          <%= icon('file-pdf-o') if (poster_with_paper_ids && poster_with_paper_ids.include?(presentation.id)) %>
          <span class="badge"><%= presentation.number %></span>
        </span>
      </div>
    <% end %>
  <% end %>
</ul>
