<%= program_title('Poster Sessions', 'picture-o') %>  

<% if user_in_organizer_committee? %>  
  <p>
  Actual poster sessions: 
  <% PosterSession.order(:name).each do |ps| %>  
    <%= link_to ps, ps %>
  <% end %>
  </p>
  <p class="centered"><%= link_to 'Create Poster Session', new_poster_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'contributed_sessions/description' %>  
<%= render partial: 'deadlines/presentation_submission' %>  

<% if false and user_in_organizer_committee? %> 
  <ul class="list-group">
  <% @conference_sessions.each do |cs| %>
      <li class="list-group-item">
        <%= link_to cs, cs %> 
      </li>
    <% end %>
  </ul>
<% end %>

<h2>List of accepted posters</h2>

<% poster_with_paper_ids = (current_user && current_user.in_review_commette?) ? Presentation.with_paper_ids : nil %>  

<div class="list-group">
  <% cache 'presentations_list_cache' do %>
    <% Presentation.at_poster.order(:number, :name).each do |presentation| %>  
      <div class="list-group-item">
        <%= link_to presentation, presentation, remote: true %> 
        <span class='pull-right'>
          <% if poster_with_paper_ids and poster_with_paper_ids.include?(presentation.id) %> <%= icon('file-pdf-o') %> <% end %> 
          <span class="badge"><%= presentation.number %></span>
        </span>
      </div>
    <% end %>
  <% end %>
</ul>
