<%= program_title('Poster Sessions', 'picture-o') %>  

<% if user_in_organizer_committee? %>  
  <p class="centered"><%= link_to 'Create Poster Session', new_poster_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'contributed_sessions/description' %>  
<%= render partial: 'deadlines/presentation_submission' %>  

<% if false and user_in_organizer_committee? %> 
  <ul class="list-group">
  <% @conference_sessions.each do |cs| %>
      <li class="list-group-item">
        <%= link_to cs, cs %> 
      </li>
    <% end %>
  </ul>
<% end %>

<h2>List of accepted posters</h2>

<div class="list-group">
  <% cache 'presentations_list_cache' do %>
    <% Presentation.at_poster.order(:number, :name).each do |presentation| %>  
      <%= link_to "#{presentation.number} #{presentation.name}", presentation, remote: true, class: 'list-group-item' %> 
    <% end %>
  <% end %>
</ul>
