<h1>Scientific Commettee</h1>

<h2>Minisymposia</h2>
<ul class="list-group">
  <% @minisymposia.find_each do |minisymposium| %>  
    <li class="list-group-item">
      <%= link_to minisymposium, minisymposium_path(minisymposium) %> 
      <ul>
        <% rated_by_me = nil %>  
        <% minisymposium.ratings.each do |rating| %>  
          <li><%= rating.user %> <%= rating_stars(rating.score) %></li>
          <%- rated_by_me = true if rating.user == current_user %>  
        <% end %>
        <% unless rated_by_me %>  
          <li><%= link_to icon('star') + ' rate', new_minisymposium_rating_path(minisymposium), class: 'button' %></li>
        <% end %>
      </ul>
    </li>
  <% end %> 
</ul>

<h2>Presentations</h2>
  <ul class="list-group">
  <% Presentation.find_each do |presentation| %>  
    <li class="list-group-item"><%= link_to presentation, presentation %> <span class="badge pull-right"><%= presentation.parent_event_abbr %></span></li>
  <% end %>
  </ul>
