<div class="row">
<div class="col-md-6">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Sign Up</h2>
    </div>
    <div class="panel-body">
      <%= f.error_notification %>

      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>
    <div class="panel-footer">
      <%= f.submit "Sign up" %>
    </div>
  </div>
<% end %>
</div>
<div class="col-md-6">
<h2>Privacy Statement</h2>

<p>The names and email addresses entered in this conference site will be used exclusively for the stated purposes of this conference and will not be made available for any other purpose or to any other party.</p>

</div>
</div>
