<div class="row">
<div class="col-md-6">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2>Register new account</h2>
    </div>
    <div class="panel-body">
      <% unless resource.errors.details[:email].empty? %>  
        <div class="alert alert-danger">
        <% resource.errors.details[:email].each do |error| %>
          <% if error[:error] == :taken and u = User.where(email: error[:value]).first %>  
            <%= u %> is registered as <br/>
            <%= raw user_roles(u).join(', ') %><br/>
            <script type="text/javascript">
              window.location.href="<%= new_user_password_path(e: u.email) %>"  
            </script>script>
            <% break %>  
          <% end %>
        <% end %>
        </div>
      <% end %>

      <%= f.input :email, required: true, autofocus: true, hint: 'Please use your institutional mail address.' %>
      <%= f.input :password, required: true, hint: "#{@minimum_password_length} characters minimum. Please use a different password than the one in your email." %>
      <%= f.input :password_confirmation, required: true %>

      <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <% if flash[:recaptcha_error] %>
          <div class="alert alert-danger"><%= flash[:recaptcha_error] %></div>
        <% end %>
        <%= recaptcha_tags %>
      </div>
      </div>

      <%= f.submit "Sign up" %> - <%= link_to_back new_user_session_path %>
    </div>
    <div class="panel-footer">
      <p>
        <strong>Privacy Statement:</strong>
        <em>The names and email addresses entered in this conference site will be used exclusively for the stated purposes of this conference and will not be made available for any other purpose or to any other party.</em>
      </p>
    </div>
  </div>
<% end %>
</div>
<div class="col-md-6">
  <p class="alert alert-warning">
  After creating the account an <strong>e-mail</strong> will be sent by no-reply@dm.unibo.it to the e-mail address you provided, with a password to access the system. <br/>
  If you don't receive it within 5 minutes, please make sure it didn't get by mistake into your junk or spam folders.
  <br/><br/>
  For every problem in the registration process please send us a mail at <%= mail_to_siam %>. 
  </p>
</div>
</div>
