<h1>Search result for &ldquo;<%= @search_string %>&rdquo;</h1>

<% unless @users.empty? %>
  <h2>Users</h2>
  <ul class="list-group">
    <% @users.each do |user| %>  
      <li class="list-group-item"><%= user_modal_link user %></li>
    <% end %>
  </ul>
<% end %>

<% unless @conference_sessions.empty? %>  
  <h2>Sessions</h2>
  <ul class="list-group">
    <% @conference_sessions.each do |cs| %>  
      <li class="list-group-item"><%= link_to cs, cs, remote: true %></li>
    <% end %>
  </ul>
<% end %>

<% unless @presentations.empty? %>
  <h2>Presentatons / Posters</h2>
  <ul class="list-group">
    <% @presentations.each do |pres| %>  
      <li class="list-group-item"><%= link_to pres, pres, remote: true %></li>
    <% end %>
  </ul>
<% end %>

<% unless @tags.empty? %>
  <h2>Keywords</h2>
  <ul class="list-group">
    <% @tags.each do |k| %>  
      <li class="list-group-item"><%= link_to k, k %></li>
    <% end %>
  </ul>
<% end %>
