<% 
  papers = presentation.papers || []
  owner  = current_user_owns?(presentation)
%>

<div class="presentation_panel">

<%= panel_heading(presentation) %>  

<div class="panel-body">
  <% if owner and presentation.abstract.blank? and Deadline.in_minisymposium_abstract? %>  
    <p class="alert alert-warning">Please add an abstract to this presentation <%= link_to_edit [:edit, presentation] %></p>
  <% else %>
    <p style="text-align: justify; font-style: italic;"><%= presentation.abstract %></p>
  <% end %>

  <%= presentation_parent(presentation) %>  

  <dl class="dl-horizontal">
    <dt>Authors:</dt>
    <% presentation.authors.each do |author| %>  
      <dd>
      <%= show_role(author) %> 
      <%= icon(:microphone) if author.speak %>
      <%= link_to_delete author_path(author) if (owner and current_user != author.user) %>  
      </dd>
    <% end %>
    <dt><%= t 'Tags' %>:</dt>
    <dd><%= presentation.all_tags %></dd>
    <% if current_user and ! papers.empty? %>  
      <dt>Documents:</dt>
      <% papers.each do |paper| %>  
        <dd>
          <% if owner or false %>  
            <%= link_to('download paper '.html_safe + icon('download'), paper.paperfile_url) if owner %>  
          <% else %>
            <span style="color: green">The paper will be visible from May, 28.</span>
          <% end %>
          <%= link_to_delete(paper_path(paper)) if owner %>
        </dd>
      <% end %>
    <% end %>
  </dl>

  <% if owner and presentation.poster and papers.empty? %>  
    <p class="alert alert-warning">In order to apply to <em>Best poster award</em> please <%= link_to 'submit a paper', new_presentation_paper_path(presentation) %> at least a week before the conference.</p>
  <% end %>

  <%= render partial: 'ratings/dl_list', locals: { what: presentation } %>  
</div><!-- panel-body -->

<div class="panel-footer footer-actions">
  <p>
    <%= panel_actions(presentation) %>  
    <%= show_schedule(presentation) %>  
  </p>
</div><!-- panel-footer -->
</div>

<% if false and owner and ! presentation.conference_session_id %>  
  <p class="alert alert-success">
  <strong>Thank you for your submission.</strong> <br/>
  After <%= l Deadline.presentation_proposal_end %> the Scientific Committee will evaluate the presentation.<br/>
  You will be notified whether your poster/presentation is accepted or not by email as close as possible to that date.
  </p>
<% end %>


