<div class="presentation_panel">

<%= panel_heading(presentation) %>  

<div class="panel-body">
  <p><em><%= presentation.abstract %></em></p>

  <%= presentation_parent(presentation) %>  

  <dl class="dl-horizontal">
    <dt>Authors:</dt>
    <% presentation.authors.each do |author| %>  
      <dd>
      <%= show_role(author) %> 
      <%= icon(:microphone) if author.speak %>
      <%= link_to_delete author_path(author) if current_user_owns?(presentation) %>  
      </dd>
    <% end %>
  </dl>

  <%= render partial: 'ratings/dl_list', locals: { what: presentation } %>  
</div><!-- body -->

<div class="panel-footer footer-actions">
  <%= panel_actions(presentation) %>  
  <%= schedule(presentation) %>  
</div><!-- footer -->
</div>
