<% if defined?(one_line) %>  
  <div>
    <%= link_to presentation, presentation %> 
    <% if current_user.owns?(presentation) and defined?(actions) and actions.include?(:add) %>
      <%= link_to icon('plus') + ' add', add_contributed_session_presentation_path(@session, presentation), class: :button, method: :put, title: 'add to session' %> 
    <% end %>
    <% if current_user.owns?(presentation) and defined?(actions) and actions.include?(:remove) %>
      <%= link_to icon('minus') + 'remove', remove_contributed_session_presentation_path(@session, presentation), method: :put, title: 'remove from session', class: :button %>
    <% end %>
    <span class="badge pull-right"><%= presentation.parent_event_abbr %></span>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
     <p><%= link_to presentation, presentation %> <span class="badge pull-right"><%= presentation.parent_event_abbr %></span></p>
    </div><!-- heading -->
    <div class="panel-body">
      <p><%= presentation.abstract %> </p>
      <dl class="dl-horizontal">
        <dt>Authors:</dt>
        <% presentation.authors.each do |author| %>  
          <dd><%= show_user(author.user) %> <%= icon(:microphone) if author.speak %>  </dd>
        <% end %>
      </dl>
      <% if presentation.session and ! defined?(short) %>  
        (in <%= t presentation.session.class %> "<%= link_to presentation.session, presentation.session %>"
        <%= organized_by(presentation.session) %>) 
      <% end %>
    </div><!-- body -->
    <% if current_user.owns?(presentation) and ! defined?(short)%>  
      <div class="panel-footer">
        <% if current_user.owns?(presentation) and defined?(actions) and actions.include?(:add) %>
          <%= link_to icon('plus') + ' add', add_contributed_session_presentation_path(@session, presentation), class: :button, method: :put, title: 'add to session' %> 
        <% end %>
        <% if current_user.owns?(presentation) and defined?(actions) and actions.include?(:remove) %>
          <%= link_to icon('minus') + 'remove', remove_contributed_session_presentation_path(@session, presentation), method: :put, title: 'remove from session', class: :button %>
        <% end %>
        <%= link_to icon('pencil') + " edit", edit_presentation_path(presentation), class: :button %>  
        <%= link_to icon('plus')   + " add author", new_presentation_author_path(presentation), class: :button %>
        <%= link_to icon('trash')  + " delete", presentation_path(presentation), method: :delete, title: 'delete', data: {confirm: 'Are you sure?'}, class: :button %>
      </div><!-- footer -->
    <% end %>
  </div>
<% end %>
