<% 
  # papers = presentation.papers || []
  papers = []
  owner  = current_user_owns?(presentation)
%>

<div class="presentation_panel">

<%= panel_heading(presentation) %>  

<div class="panel-body">
  <% if owner and presentation.abstract.blank? and Deadline.in_minisymposium_abstract? %>  
    <p class="alert alert-warning">Please add an abstract to this presentation <%= link_to_edit [:edit, presentation] %></p>
  <% else %>
    <p style="text-align: justify; font-style: italic;"><%= presentation.abstract %></p>
  <% end %>

  <%= presentation_parent(presentation) %>  

  <dl class="dl-horizontal">
    <dt>Authors:</dt>
    <% presentation.authors.each do |author| %>  
      <dd>
      <%= show_role(author) %> 
      <%= icon(:microphone) if author.speak %>
      <%= link_to_delete author_path(author) if (owner and current_user != author.user) %>  
      </dd>
    <% end %>
    <dt><%= t 'Tags' %>:</dt>
    <dd><%= presentation.all_tags %></dd>
    <% unless papers.empty? %>  
      <dt>Documents:</dt>
      <% papers.each do |paper| %>  
        <dd>
        <%= link_to icon('download') + ' download paper', paper.paperfile_url %>  
        <%= link_to_delete(paper_path(paper)) if owner %>
        </dd>
      <% end %>
    <% end %>
  </dl>

  <%# <% if owner and presentation.poster and papers.empty? %>  
  <%#   <p class="alert alert-warning">In order to apply to <em>Best poster award</em> please submit a paper at least a week before the conference.</p>
  <%# <% end %>

  <%= render partial: 'ratings/dl_list', locals: { what: presentation } %>  
</div><!-- panel-body -->

<div class="panel-footer footer-actions">
  <%= panel_actions(presentation) %>  
  <%= schedule(presentation) %>  
</div><!-- panel-footer -->
</div>

<% if owner and ! presentation.conference_session_id %>  
  <p class="alert alert-success">
  <strong>Thank you for your submission.</strong> <br/>
  Till <%= l Deadline.presentation_proposal_end %> you can modify it. <br/>
  You will be notified whether your poster/presentation is accepted or not by email as close as possible to that date.
  </p>
<% end %>
