<h1><%= @presentation.poster ? 'Poster' : 'Presentation' %></h1>

<%= render partial: 'form' %>  

<h2>Authors:</h2>

<ul> 
  <% @presentation.authors.each do |author| %>  
    <li>
      <%= author.user %> <%= "(speaker)" if author.speak %>  
      <%= link_to icon('microphone'), make_speaker_author_path(author), method: :put, title: 'set as speaker' %>
      <%= link_to_delete author_path(author) %>
    </li>
  <% end %>
</ul>

