<h1><%= @user.cn %> presentations</h1>

<% if @presentations.any? %>  
  <p><%= @user %> is author in the following presentations:</p>
  <% @presentations.each do |presentation| %>  
    <%= render presentation %> 
  <% end %>
<% else %>
  <p class='alert alert-warning'><%= @user %> is author in no presentations for Siam-is18.</p>
<% end %>

<% if Deadline.can_propose?(:presenation) %>  
<p class="centered">
  <%= link_to 'Submit Presentation Proposal', new_presentation_path, class: :big_button %>  
</p>
<% end %>
