<h1>Presentations</h1>

<p>You are author in the following presentations:</p>

<% current_user.presentations.each do |presentation| %>  
  <p>
  <%= link_to presentation, presentation %>  
  <% if parent = presentation.parent_event %>  
    (in <%= t parent.class %> "<%= link_to parent, parent %>")
  <% end %>
  <%= link_to_delete presentation_path(presentation) %>  
  </p>
<% end %>

<p class="centered">
<%= link_to 'Submit Presentation Proposal', new_presentation_path, class: :big_button %>  
</p>

<h2>All presentations</h2>

<% if current_user.committee_organizer? %>  
  <ul>
  <% Presentation.find_each do |presentation| %>  
    <li><span class="badge"><%= presentation.parent_event_abbr %></span>  <%= link_to presentation, presentation %></li>
  <% end %>
  </ul>
<% end %>
