
<% if parent = @presentation.parent_event %>  
  <h1><%= link_to parent, parent %></h1>
  <h2>Presentation in <%= parent.class %></h2>
<% else %>
  <h1>Contributed Presentation</h1>
<% end %>

<div class="well">
  <%= @presentation.name %>
  <%= @presentation.abstract %> -
  <%= link_to('edit', edit_presentation_path(@presentation)) if current_user_owns?(@presentation) %>  
</div>

<p>Authors:</p>
<ul>
  <% @authors.each do |author| %>  
    <li><%= author.user %> <%= link_to_delete author_path(author) %></li>
  <% end %>
  <li><%= link_to 'add author', new_presentation_author_path(@presentation) %></li>
</ul>
