<h1><%= @presentation.name %></h1>

<p>Presentation in <strong><%= link_to @presentation.parent_event, @presentation.parent_event %></strong></p>

<div class="well">
  <%= @presentation.abstract %> -
  <%= link_to('edit', edit_presentation_path(@presentation)) if current_user_owns?(@presentation) %>  
</div>

<ul>
  <% @speakers.each do |speaker| %>  
    <li><%= speaker.user %> <%= link_to_delete speaker_path(speaker) %></li>
  <% end %>
  <li><%= link_to 'add speaker', new_presentation_speaker_path(@presentation) %></li>
</ul>
