<div class="alert alert-info">
  <%= render partial: 'description' %>  
</div>

<p>The summary should be written to attract those who specifically work on your topic as well as those who work in related areas. Based on experience, we suggest the following outline:</p>
<ol>
  <li>Explain the problem area to be addressed by the speakers and why it is important in significant applications.</li>
  <li>Identify current directions of research and methods being developed to solve problems, including their advantages and shortcomings.</li>
  <li> Describe the scope of your minisymposium.</li>
</ol>

<%= simple_form_for @conference_session do |conference_session| %>  
  <%= conference_session.input :name %>  
  <%= conference_session.input :description, input_html: {rows: 4} %>  
  <%= conference_session.submit %> - <%= link_to_back root_path %>
<% end %>

<%= javascript_tag do %>  
  $('#minisymposium_description').keyup( function() {
    update_wcount($(this));
  });
  update_wcount($('#minisymposium_description'));
<% end %>

