<p>
  Please insert <strong>title</strong> and <strong>summary</strong> of your proposal. 
  In the next pages you will be asked for <strong>authors</strong> and <strong>presentations</strong>.
</p>

<div class="alert alert-info">
  <p>The <strong>summary</strong> should be written to attract those who specifically work on your topic as well as those who work in related areas. Based on experience, we suggest the following outline:</p>
  
  <ol>
    <li>Explain the problem area to be addressed by the speakers and why it is important in significant applications.</li>
    <li>Identify current directions of research and methods being developed to solve problems, including their advantages and shortcomings.</li>
    <li>Describe the scope of your minisymposium.</li>
  </ol>
</div>

<%= simple_form_for @conference_session do |conference_session| %>  
  <%= conference_session.error_notification %>
  <%= conference_session.input :name %>  
  <%= conference_session.input :description, input_html: {rows: 6} %>  
  <%= conference_session.association :tags, collection: Tag.global, as: :check_boxes %>
  <%= conference_session.input :manual_tags %>
  <% if user_in_organizer_committee? %>  
    <%= conference_session.input :parts, collection: 1..4, include_blank: false %>
  <% end %>
  <%= conference_session.submit %> - <%= link_to_back root_path %>
<% end %>

<%= javascript_tag do %>  
  $('#minisymposium_description').keyup( function() {
    update_wcount($(this));
  });
  update_wcount($('#minisymposium_description'));

  $('form').submit(function( event ) {
    var manual_tags = $('#minisymposium_manual_tags').val();
    if (manual_tags && manual_tags.length > 0) {
      console.log("Manual tags=" + manual_tags);
      var keys = manual_tags.split(",");
      confirm( "You are adding the following keywords: " + keys );
    }
  });
<% end %>

