<% if defined?(one_line) %>  
  <div>
    <%= link_to minisymposium, minisymposium %> 
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <p><%= link_to minisymposium, minisymposium %></p>
    </div><!-- heading -->
    <div class="panel-body">
      <p><em><%= minisymposium.description %></em></p>
      <ul>
        <% minisymposium.organizers.includes(:user).each do |organizer| %>  
          <li>
            Organizer: <%= show_user(organizer.user) %>
        </li>
      <% end %>
      </ul>
    </div><!-- body -->
    <% if current_user.owns?(minisymposium) and ! defined?(short)%>  
      <div class="panel-footer">
        <%= link_to icon('pencil') + " edit", edit_minisymposium_path(minisymposium), class: :button %>  
        <%= link_to icon('trash')  + " delete", minisymposium_path(minisymposium), method: :delete, title: 'delete', data: {confirm: 'Are you sure?'}, class: :button %>
    <%= link_to icon('user') + ' add Organizer', new_minisymposium_organizer_path(minisymposium), class: :button %>  
    <%= link_to icon('file-audio-o') + ' add Presentation', new_minisymposium_presentation_path(minisymposium), class: :button %>  
    <%= link_to icon('clock-o') + ' schedule', new_session_schedule_path(minisymposium), class: :button %>  
      </div><!-- footer -->
    <% end %>
  </div>
<% end %>
