<% owner = current_user_owns?(minisymposium) %>  
<% presentations = minisymposium.presentations.order(:number).all %>  

<div class="minisymposium_panel">

  <%= panel_heading(minisymposium) %>  

  <div class="panel-body">
    <p><em><%= minisymposium.description %></em></p>

    <dl class="dl-horizontal">
      <dt>Organizers:</dt>
      <% minisymposium.organizers.includes(:user).order('users.surname').each do |organizer| %>  
        <dd>
        <%= show_role(organizer) %>
        <%= link_to_delete organizer_path(organizer) if owner %>  
        </dd>
      <% end %>
    </dl>

    <dl class="dl-horizontal">
      <dt>Presentations:</dt>
      <% presentations.each do |presentation| %>
        <dd>
        <%= link_to presentation, presentation %>
        </dd>
      <% end %>
      <% if (! minisymposium.accepted) and owner and presentations.size < 4 %>
        <%= content_tag(:dd, icon('warning') + ' Please add presentations.') %>  
      <% end %>
    </dl>

    <%= render(partial: 'ratings/dl_list', locals: { what: minisymposium }) %>  

    <% if (! minisymposium.accepted) and owner and presentations.size < 4 %>  
      <p class="alert alert-warning">A minisymposium generally consists of <strong>four</strong> 25-minute presentations, with an additional five minutes for discussion after each presentation.</p>
    <% end %>
  </div><!-- body -->

  <div class="panel-footer footer-actions">
    <%= panel_actions(minisymposium) %>  
    <%= schedule(minisymposium) %>  
  </div><!-- footer -->
</div>
