<% 
    owner         = current_user_owns?(minisymposium)
    presentations = minisymposium.presentations.order(:number).all
    organizers    = minisymposium.organizers.includes(:user).order('users.surname').all 
    missing_presentations = ((! minisymposium.accepted) and owner and (presentations.size < 4))
%>  

<div class="minisymposium_panel">

  <%= panel_heading(minisymposium) %>  

  <div class="panel-body">
    <p><em><%= minisymposium.description %></em></p>

    <dl class="dl-horizontal">
      <dt>Organizers:</dt>
      <% organizers.each do |organizer| %>  
        <dd>
        <%= show_role(organizer) %>
        <%= link_to_delete organizer_path(organizer) if (owner and organizer.user != current_user) %>  
        </dd>
      <% end %>
    </dl>

    <dl class="dl-horizontal">
      <dt>Presentations:</dt>
      <% presentations.each do |presentation| %>
        <dd><%= link_to presentation, presentation %></dd>
      <% end %>
      <% if missing_presentations %>
        <%= content_tag(:dd, icon('warning') + ' Please add presentations.') %>  
      <% end %>
    </dl>

    <%= render(partial: 'ratings/dl_list', locals: { what: minisymposium }) %>  

    <% if missing_presentations %>  
      <p class="alert alert-warning"><%= t(:minisymposium_presentation_number_warning).html_safe %></p>
    <% end %>
  </div><!-- body -->

  <div class="panel-footer footer-actions">
    <%= panel_actions(minisymposium) %>  
    <%= schedule(minisymposium) %>  
  </div><!-- footer -->
</div>
