<%= program_title('Minisymposia', 'users') %>  

<%= render partial: 'description' %>  
<%= render partial: 'deadlines/minisymposium_submission' %>  

<ul class="list-group">
  <% cache 'minisymposia_list_cache' do %>
    <% @minisymposia.each do |minisymposium| %>
      <li class="list-group-item">
        <%= minisymposium.name %> 
        <%# link_to minisymposium.name, minisymposium, remote: true %> 
        <span><%= "(#{show_parts_range(minisymposium)})" if minisymposium.parts > 1 %></span> 
      </li>
    <% end %>
<% end %>
</ul>

