<%= program_title('Minisymposia', 'users') %>  

<%= render partial: 'description' %>  
<%= render partial: 'deadlines/minisymposium_submission' %>  

<div class="list-group">
  <% cache 'minisymposia_list_cache' do %>
    <% @conference_sessions.each do |cs| %>
      <div class="list-group-item">
        <strong><%= link_to cs, cs, remote: true %></strong><br/>
        <span style="font-size: 85%; margin-left: 2em"><%= show_roles(cs.organizers) %> </span>
      </div>
    <% end %>
<% end %>
</div>

