<h1>Add organizer <br/><small>to <%= @conference_session %></small></h1>

<%= simple_form_for [@conference_session, @organizer] do |organizer| %>  
  <%= organizer.error_notification %>  

  <% uncorrect_email = (@organizer.email.blank? or @organizer.errors[:email].any?) %> 

  <%= organizer.input :email, readonly: ! uncorrect_email %>  

  <% unless uncorrect_email or @organizer.errors[:email].any? %> 
    <p>There is no user with the mail < <%= @organizer.email %> >.
       Please submit all the info</p>
    <%= organizer.input :name, required: true %>  
    <%= organizer.input :surname, required: true %>  
    <%= organizer.input :affiliation, required: true %>  
  <% end %>
  <%= organizer.submit 'Add Organizer' %>  
<% end %>


