<%= title(@presentation) %>  

<h2>Add new author</h2>

<%= simple_form_for [@presentation, @author] do |author| %>  
  <%= author.dm_error_notification %>  

  <% uncorrect_email = (@author.email.blank? or @author.errors[:email].any?) %> 

  <%= author.input :email, readonly: ! uncorrect_email %>  

  <% unless uncorrect_email or @author.errors[:email].any? %> 
    <p>There is no user with the mail < <%= @author.email %> >.
       Please submit all the info</p>
    <%= author.input :name, required: true %>  
    <%= author.input :surname, required: true %>  
    <%= author.input :affiliation, required: true %>  
  <% end %>
  <%= author.submit %>  
<% end %>


