<div class="plenary_panel">
<div class="panel-heading">
  <h2>
    <%= plenary.name %><br/>
    <small><%= plenary.schedule %></small>
  </h2>
  <h3><%= plenary.speakers %></h3>
  <p>Chair: <%= plenary.chairs.map(&:to_s).join(', ') %></p>
</div>
<div class="panel-body">
  <%= plenary.description %>  
</div>
<% if user_in_organizer_commettee? %>  
  <div class="panel-footer">
    <%= link_to_edit2 'Edit', [:edit, plenary] %>  
    <%= link_to icon('clock-o') + ' schedule',   new_conference_session_schedule_path(plenary), class: :button %>  
  </div>
<% end %>
</div>
