<h1>Invited Plenaries</h1>

<% if user_in_organizer_commettee? %>
  <p class="centered"><%= link_to 'Create new Plenary', new_plenary_path, class: :big_button %></p>
<% end %>

<% i = 0 %>  
<% @plenaries.each do |plenary| %>  
  <% i += 1 %>  
  <div class="plenary">
    <% if asset_exist?(plenary.speaker.photo_asset) %>  
      <%= image_tag plenary.speaker.photo_asset, style: "float: #{ i.odd? ? 'left' : 'right' }" %>  
    <% end %>
    <h2><%= l plenary.schedule.start_day %> </h2>
    <h2><%= plenary.speaker %></h2>
    <h3><%= plenary.name %></h3>
    <p><strong>Chair:</strong> <%= plenary.chairs.map(&:to_s).join(', ') %></p>
    <p><em><%= plenary.description %></em></p>
    <%= organizer_commette_actions(plenary) %>  
  </div>
<% end %>

