<%= program_title('Plenary Sessions', 'user') %>  

<% if user_in_organizer_committee? %>
  <p class="centered"><%= link_to 'Create new Plenary', new_plenary_path, class: :big_button %></p>
<% end %>

<div class="plenaries">
  <% @plenaries.each do |plenary| %>  
    <div class="row plenary">
      <div class="plenary_speaker col-md-4">
        <% if plenary.speaker and asset_exist?(plenary.speaker.photo_asset) %>  
          <%= image_tag plenary.speaker.photo_asset %>  
        <% else %>
          <i class="fa fa-user-circle" style="font-size: 160px; margin: 20px;" aria-hidden="true"></i>
        <% end %>
        <% if plenary.speaker %>  
          <p><%= user_modal_link(plenary.speaker.user) %><br/><small><%= plenary.speaker.user.affiliation %></small></p>
        <% end %>
      </div>

      <div class="plenary_body col-md-8">
        <div class="plenary_schedule">
          <% if plenary.schedule %>  
            <%= icon('calendar') %> <%= raw l(plenary.schedule.start_day, format: :schedule) %> <br/>
            <%= icon('map-marker') %> <%= raw plenary.schedule.room %>
          <% end %>
        </div>

        <div class="plenary_title"><h2><%= plenary.name %></h2></div>
        <p class="plenary_abstract"><%= plenary.description %></p>
        <p><strong>Chair:</strong> <%= show_roles(plenary.organizers, editable: user_in_organizer_committee?) %></p>

        <div class="footer-actions">
          <%= panel_actions(plenary) %>  
        </div>
      </div>
    </div>
  <% end %>
</div>

