<h1>Invited Plenaries</h1>

<div class="plenaries">
  <% @plenaries.each do |plenary| %>  
    <div class="row plenary">
      <div class="plenary_speaker col-md-4">
        <% if plenary.speaker and asset_exist?(plenary.speaker.photo_asset) %>  
          <%= image_tag plenary.speaker.photo_asset %>  
        <% else %>
          <i class="fa fa-user-circle" style="font-size: 160px; margin: 20px;" aria-hidden="true"></i>
        <% end %>
        <p><%= plenary.speaker.user.cn %><br/><small><%= plenary.speaker.user.affiliation %></small></p>
      </div>
      <div class="plenary_body col-md-8">
        <div class="plenary_schedule">
          <% if plenary.schedule %>  
            <%= icon('calendar') %> <%= raw l(plenary.schedule.start_day, format: :schedule) %> <br/>
            <%= icon('map-marker') %> <%= raw plenary.schedule.room %>
          <% end %>
        </div>
        <div class="plenary_title"><h2><%= plenary.name %></h2></div>
        <p class="plenary_abstract"><%= plenary.description %></p>
        <p><strong>Chair:</strong> <%= plenary.chairs.map(&:to_s).join(', ') %></p>
        <%= organizer_commette_actions(plenary) %>  
      </div>
    </div>
  <% end %>
</div>

<% if user_in_organizer_commettee? %>
  <p class="centered"><%= link_to 'Create new Plenary', new_plenary_path, class: :big_button %></p>
<% end %>

