<% @no_container = true %>

<%= program_title('Plenary Presentations', 'user') %>  

<% if user_in_organizer_committee? %>
  <p class="centered"><%= link_to 'Create new Plenary', new_plenary_path, class: :big_button %></p>
<% end %>

<%= cache_unless current_user, @plenaries do %>
  <% @plenaries.each do |plenary| %>  
    <div class="bg-colored" id="<%= plenary.id %>">
      <div class="container">
        <%= render plenary %>  
      </div>
    </div>
  <% end %>
<% end %>

