<% cache 'home_deadlines' do %>
  <table class="home_deadlines centered">
    <tr>
      <td><%= l(Deadline.minisymposium_proposal_start, format: :deadline) %></td>
      <td><%= l(Deadline.minisymposium_proposal_end, format: :deadline) %></td>
      <th>Minisymposium proposals
        <% if Deadline.can_propose?(:minisymposium) %>
          &nbsp; <%= link_to icon('hand-o-right'), submissions_path %>
        <% end %>
      </th>
    </tr>

    <tr>
      <td><%= l(Deadline.presentation_proposal_start, format: :deadline) %></td>
      <td><%= l(Deadline.presentation_proposal_end, format: :deadline) %></td>
      <th>Abstracts for contributed and minisymposium speakers</th>
    </tr>

    <tr>
      <td><%= l(Deadline.presentation_proposal_start, format: :deadline) %></td>
      <td><%= l(Deadline.presentation_proposal_end, format: :deadline) %></td>
      <th>Abstracts for posters</th>
    </tr>

    <tr>
      <td></td>
      <td><%= l(Deadline.pre_registration_end, format: :deadline) %></td>
      <th>Pre-registration deadline</th>
    </tr>

    <tr>
      <td><%= l(Deadline.conference_start_date, format: :deadline) %></td>
      <td><%= l(Deadline.conference_start_date + 3.days, format: :deadline) %></td>
      <th>SIAM IS18 Conference</th>
    </tr>
  </table>
<% end %>
