<% cache 'home_deadlines' do %>
  <table class="home_deadlines centered">
    <tr>
      <td></td>
      <td><%= l(Deadline.minisymposium_proposal_start, format: :deadline) %></td>
      <td><%= l(Deadline.minisymposium_proposal_end, format: :deadline) %></td>
      <th><s>Minisymposium proposals</s></th>
    </tr>

    <tr>
      <td><%= icon('hand-o-right') if Deadline.can_propose?(:presentation_proposal) %></td>
      <td><%= l(Deadline.presentation_proposal_start, format: :deadline) %></td>
      <td><%= l(Deadline.presentation_proposal_end, format: :deadline) %></td>
      <th><s>Contributed Lecture and Minisymposium Presentation Abstracts</s></th>
    </tr>

    <tr>
      <td></td>
      <td><%= l(Deadline.presentation_proposal_start, format: :deadline) %></td>
      <td><%= l(Deadline.presentation_proposal_end, format: :deadline) %></td>
      <th><s>Poster Abstracts</s></th>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><%= l(Deadline.pre_registration_end, format: :deadline) %></td>
      <th><s><%= link_to 'Early registration deadline', new_conference_registration_path %></s></th>
    </tr>

    <tr>
      <td></td>
      <td><%= l(Deadline.conference_start_date, format: :deadline) %></td>
      <td><%= l(Deadline.conference_start_date + 3.days, format: :deadline) %></td>
      <th>SIAM IS18 Conference</th>
    </tr>
  </table>
<% end %>
