<% if Deadline.before_minisymposium_proposal? %>  

  <p class="future_magic">
    Minisymposium proposals submission forms will be availabe from <br/>
    <strong><%= l(Deadline.minisymposium_proposal_start, format: :long) %></strong>.
  </p>

<% elsif Deadline.can_propose?(:minisymposium)  %>

  <p class="alert alert-success">
    <strong>Deadline</strong> for submission of <em>minisymposium proposals</em>: <%= l(Deadline.minisymposium_proposal_end) %> <br/>
    <strong>Deadline</strong> for submission of <em>minisymposium speaker abstracts</em>: <%= l(Deadline.minisymposium_abstract_end) %>.
  </p>

  <div class="centered">
  <% if current_user %>  
    <% unless user_in_organizer_committee? or controller.controller_name == 'submissions' %>
      <p><%= link_to ('please visit <br/>SUBMISSION PAGE &nbsp;' + big_icon('hand-o-right')).html_safe, submissions_path, class: :button %></p>
    <% end %>
  <% else %>
    <p><strong>In order to submit a <em>minisymposium proposal</em>, please <%= login_link button: true %>.</strong></p>
  <% end %>
  </div>

<% else %>

  <p class="alert alert-warning">
    Please note that the deadline for sending <em>minisymposium proposals</em> 
    has been <strong>expired</strong> on <%= l(Deadline.minisymposium_proposal_end) %>.
  </p>

<% end %>
