<% if Deadline.before_presentation_proposal? %>  
  <p class="alert alert-warning">
    Presentation / poster proposals submission forms will be availabe from</br>
    <strong><%= l(Deadline.presentation_proposal_start, format: :long) %></strong>.
  </p>
<% elsif Deadline.can_propose?(:presentation) %>
  <p class="alert alert-success">
  <strong>Deadline</strong> for submission of <em>presentation / poster proposals</em>: <%= l(Deadline.presentation_proposal_end) %>.
  <% if current_user %>  
    <% unless controller.controller_name == 'submissions' or user_in_organizer_commettee? %>
      <br/><%= link_to 'Go to submissions page', submissions_path %>.
    <% end %>
  <% else %>
    <br/>In order to submit a <em>presentation / poster proposals</em>, please <%= login_link %>.
  <% end %>
<% else %>
  <p class="alert alert-warning">
  Please note that the deadline for sending proposals has been expired on <%= l(Deadline.presentation_proposal_end) %>.
  </p>
<% end %>


