<% if Deadline.before_first_proposal? %>  
  <p>Proposals submission forms will be availabe from 
  <strong><%= l(Deadline.first_proposal_start, format: :long) %></strong>.
  </p>
<% end %>

<div class="row">  
  <div class="col-md-3">
    <strong>Deadline Dates:</strong><br/><small>(Central European Time)</small>
  </div>
  <div class="col-md-9">
    <dl>
      <dt><%= l Deadline.minisymposium_proposal_start %> - <%= l Deadline.minisymposium_proposal_end %>:</dt>
      <dd>Minisymposium Proposal Submissions</dd>
      <dt><%= l Deadline.presentation_proposal_start %> - <%= l Deadline.presentation_proposal_end %>:</dt>
      <dd> Contributed Lecture, Poster and Minisymposium Presentation Abstracts</dd>
      <dt>February 1, 2018:</dt>
      <dd> SIAG/FME Conference Paper Prize Deadline</dd>
      </p>
  </div>
</div>

<% if Deadline.expired? %>
  <p class="alert alert-warning">
  Please note that the deadline for sending proposals has been <strong>expired</strong> 
  on <%= l(Deadline.last_proposal_end) %>.
  </p>
<% end %>
