<dl class="dl-horizontal">
  <% [:name, :surname, :affiliation, :address, :country, :siag, :siam, :student].each do |field| %>  
    <%= dl_field(user, field) %>  
  <% end %>
  <dt>Home Page</dt>
  <dd><%= link_to(user.web_page, user.web_page) unless user.web_page.blank? %></dd>
  <dt>Contact</dt>
  <dd><%= mail_to user.email, user.email %></dd>
</dl>

<% user.conference_sessions.each do |conference_session| %>  
  <%= conference_session.class %> : <%= conference_session %>
<% end %>

<% if current_user and user == current_user %>  
  <p class="centered">
  <%= link_to_edit2 'modify', edit_user_path(current_user) %>  
  </p>
<% end %>

