<% if user.in_scientific_committee? %>  
  <p class="alert alert-warning">Member of Scientific Committee.</p>
<% elsif user.in_local_committee? %>
  <p class="alert alert-warning">Member of Local Committee.</p>
<% end %>

<dl class="dl-horizontal">
  <% (@fields || User.safe_fields).each do |field| %>  
    <%= dl_field(user, field) %>  
  <% end %>
  <dt>Home Page</dt>
  <dd><%= link_to(user.web_page, user.web_page) unless user.web_page.blank? %></dd>
  <% if @show_email %>  
    <dt>Contact</dt>
    <dd><%= mail_to user.email, user.email %></dd>
    <dt>Email confirmed</dt>
    <dd><%= user.sign_in_count > 0 ? "*" : '' %></dd>  
  <% end %>
</dl>

<% if current_user and (user == current_user or user_in_organizer_or_management_committee?) %>  
  <p class="centered">
    <%= link_to_edit2  'modify', [:edit, user] %>  
    <%= link_to_delete('delete', user, button: true) if user_in_organizer_committee? %>  
  </p>
  <% if user.conference_registration %>  
    <p class="alert alert-success"><%= icon :star %> Registered to SIAM-IS18.</p>
  <% elsif user_in_organizer_committee? %>
    <p>
      <%= link_to 'Manual Registration', manual_new_conference_registrations_path(user_id: user.id), class: :button %> 
      <%= link_to 'Manual Payment', new_user_manual_payment_path(user), class: :button %>
    <p>
  <% end %>
<% end %>

<% if defined?(@user_conference_sessions) and @user_conference_sessions.any? %>  
  <h4>Organizer in</h4>
  <ul class="list-group">
    <% @user_conference_sessions.each do |conference_session| %>  
      <li class="list-group-item">
        <p>
          &ldquo;<%= link_to conference_session, conference_session %>&rdquo;
          <span class="badge pull-right">
            <%= conference_session.class_name %>
          </span> 
        </p>
        <p>
          <%= schedules_list(conference_session.schedules) %>  
        </p>
      </li>
    <% end %>
  </ul>
<% end %>

<% if defined?(@user_presentations) and @user_presentations.any? %>  
  <h4>Author in</h4>
  <ul class="list-group">
    <% @user_presentations.each do |presentation| %>  
      <li class="list-group-item">
        <p>
        &ldquo;<%= link_to presentation, presentation %>&rdquo;
        <span class="badge pull-right">
          <%= icon('microphone') if @user.speaker?(presentation) %> &nbsp; 
          <%= presentation.parent_class %> 
        </span> 
        </p>
        <% if cs = presentation.conference_session %>  
          <p class="small">
          in <em><%= link_to cs, cs %></em>
          <%= schedules_list(presentation.schedule) %>
          </p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

