<div class="row">
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2><%= big_icon(:user) %> User<br/><small><%= @user %></small><br/> created</h2>
    </div>
    <div class="panel-body">
      <%= render @user %>  

      <p class="alert alert-notice">
        new password: <%= @p[:password] %>  
      </p>
    </div>
    <div class="panel-footer">
      You can notify user the registration and the new password by email:
      <%= form_tag admin_notify_new_user_path(@user) do %>  
        <%= text_field_tag 'id', @user.id, hidden: true %>  
        <%= text_field_tag 'p', @p[:password], hidden: true %>  
        <%= submit_tag 'Send user email with password' %>  
      <% end %>
    </div>
  </div>
</div>
</div>

