<%= program_title('Users', 'users') %>  

<p>
  <strong>Minisyposia organizers mail list:</strong><br/>
  <%= Organizer.includes(:user).includes(:conference_session).where('conference_sessions.type = "Minisymposium"').references(:conference_sessions).map{|r| r.user.email}.join(', ') %>
</p>

<p class="alert alert-info">Users with (*) are registered.</p>

<p class="centered">
  <%= link_to 'New User', new_user_path, class: :button %>   
</p>

<table class="table table-striped table-condensed">
  <% num = 0 %>  
  <% @users.each do |user| %>  
    <tr>
      <td style="text-align: right"><%= num += 1 %></td>
      <td><%= '*' if user.conference_registration %></td>
      <th><%= link_to user.cn, user, remote: true %></th>
      <td><%= user.email %> </td>
      <td><em><small><%= user.affiliation %></small></em></td>
      <td><%= icon('check') if user.sign_in_count > 0 %></td>
      <td><%= icon('cog') if user.in_scientific_committee? %></td>
    </tr>
  <% end %>
</table>

