<%= program_title('Users', 'envelope') %>  

<% if user_in_organizer_committee? %>  
  <p class="centered">
  <%= link_to 'New User', new_user_path, class: :button %>   
  </p>
<% end %>

<p class="alert alert-info">
Users with <%= icon('euro') %> are registered.
Users with <%= icon('check') %> are active (have used the web site).
Users with <%= icon('cog') %> are in scientific committee.
</p>

<p>
  <% if user_in_organizer_committee_or_cochair? %>  
    <%= link_to 'Multiple presentations speakers', multiple_speakers_users_path, class: 'btn btn-sm btn-info' %>  
    <%= link_to 'Nationalities', countries_stats_path, class: 'btn btn-sm btn-info' %>
    <%= link_to 'Number of speakers', stats_users_path, class: 'btn btn-sm btn-info' %> 
  <% end %>
  <% if user_in_organizer_or_management_committee? %>
    <%= link_to 'Dietaries', dietaries_users_path, class: 'btn btn-sm btn-info' %> 
  <% end %>
</p>

<table class="table table-condensed">
  <% num = 0 %>  
  <% uniq_name = '' %>
  <% @users.each do |user| %>  
    <% possible_duplication = (uniq_name == (uniq_name = "#{user.name.to_s.strip}#{user.surname.to_s.strip}".downcase)) %>  
    <%= content_tag(:tr, class: (possible_duplication ? 'alert alert-danger' : '')) do %>
      <td style="text-align: right"><%= num += 1 %></td>
      <td><%= icon('euro') if user.conference_registration %></td>
      <td><%= user.cn_militar %> </td>
      <th><%= link_to user.email, user, remote: true %></th>
      <td><em><small><%= user.affiliation %></small></em></td>
      <td><%= user.country ? user.country : link_to_edit([:edit, user]) %></td>
      <td><%= icon('check') if user.sign_in_count > 0 %></td>
      <td><%= icon('cog') if user.in_scientific_committee? %></td>
      <td><%= icon('cubes') if user.exhibitor %></td>
    <% end %>
  <% end %>
</table>

<p>
<%= link_to 'Fix a missing affiliation', missing_affiliation_users_path, class: :button %>
</p>
