<%
   # @res[#pietro donatini]['12-12-2018'] = [{what: ..., conference_session: ...}]
  i = 1
%>
<dl class="dl-horizontal">
  <% @res.each do |user, presences| %>  
    <dt><%= user_modal_link(user) %></dt>

    <% presences.keys.sort.each do |start| %>
      <% danger = (presences[start].size > 1 and presences[start].map {|w| w[:conference_session]}.uniq.size > 1) %>
      <dd class="<%= 'alert alert-danger' if danger %>">
      <% presences[start].each do |w| %>  
        <span class="badge"><%= w[:what] %></span> 
        <strong><%= l start %></strong>
        <small><%= link_to w[:conference_session], w[:conference_session], remote: true %></small>
        <small>(<%= w[:where] %>)</small>
        <br/>
      <% end %>
      </dd>
    <% end %>
  <% end %>
</dl>
