<h1>Meeting Registration</h1>

<h3>Your data</h3>

<%= render current_user %>  

<%= link_to 'edit', edit_user_path(current_user) %>  

<h3>Payments</h3>

<h4>Conference Registration Fee Includes:</h4>

<ul>
  <li>Admission to all technical sessions</li>
  <li>Business Meeting (open to SIAG/IS members)</li>
  <li>Coffee breaks daily</li>
  <li>Room set-ups and audio/visual equipment</li>
  <li>Welcome Reception and Poster Session</li>
</ul>

<h4>Fees</h4>

<% Fee.prices.each do |name, amounts| %>  
  <%= name %>: <%= amounts.inspect %>  <br/>
<% end %>

<% if current_user.can_register? %>  
  <%= link_to new_payment_path, class: "big_pay_button" do %>  
    PAY <%= @price_to_pay_and_reason[0] %> &euro; for Registration" 
    <br/>(<%= @price_to_pay_and_reason[1] %>)
  <% end %>
<% end %>


