<% cs = schedule.conference_session %>  

<div class="conference_program_item" id="<%= cs.id %>-<%= schedule.part %>">
  <%= link_to(conference_session_path(cs, part: schedule.part), remote: true) do %>
    <div class= "<%= conference_session_css_class(cs) %> conference_program_item_name" style='vertical-align: middle'>
      <%= cs.code_with_part(schedule.part) %>
    </div>
  <% end %>
  <div class='conference_program_item_description'>
    <%= link_to conference_session_path(schedule.conference_session, part: schedule.part), remote: true do %>
      <strong><%= cs.name %></strong> 
    <% end %>
    <div style="">
      <% if cs.is_a?(MonoConferenceSession) %>  
        <%= show_role(cs.speaker) %><br/>
      <% elsif ! cs.is_a?(ConferenceBreak) %>  
        <%= cs.organizers_label %>: <%= show_roles(cs.organizers) %><br/>
      <% end %>
      <em><span><%= room_modal_link(schedule.room) %></span></em>
    </div>
  </div>
</div>

