<% conference_session = schedule.conference_session %>  

<div class="conference_session">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><%= link_to schedule.conference_session_with_part, conference_session, remote: true %></strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <p><%= conference_session.organizers_label %>:</p>
          <p>
          <%= show_roles_list(conference_session.organizers) %>  
          </p>
        </div>
        <div class="col-md-6">
          <p>Speakers:</p>
          <%= show_roles_list(conference_session.speakers(schedule.part)) %>  
        </div>
      </div>
    </div>
    <div class="panel-footer" style="text-align: right">
      <small><%= schedule.room %></small>
    </div>
  </div>
</div><!-- conference_session -->

