<% cs = schedule.conference_session %>  

<div class="row conference_program_item">
  <%= link_to(conference_session_path(cs, part: schedule.part), remote: true) do %>
    <div class= "<%= conference_session_css_class(cs) %> conference_program_item_name">
      <%= cs.code_with_part(schedule.part) %>
    </div>
  <% end %>
  <div class='conference_program_item_description'>
    <%= link_to conference_session_path(schedule.conference_session, part: schedule.part), remote: true do %>
      <strong><%= cs.name %></strong> 
    <% end %>
    <small>
      <br/><%= cs.organizers_label %>: <%= show_roles(cs.organizers) %>
      <br/><em><span style="opacity: 0.7;"><%= icon('map-marker') %> <%= schedule.room %></span></em>
    </small>
  </div>
</div><!-- conference_session -->

