<h1>Program</h1>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#scheduler_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="scheduler_navbar">
      <ul class="nav navbar-nav">
        <%= dropdown_menu fwicon('calendar') + ' Days' do %>
          <% Schedule.conference_days_array.each do |day| %>  
            <li><%= link_to day, '' %></li>
          <% end %>
        <% end %>
        <%= dropdown_menu fwicon('building') + ' Rooms' do %>
          <% Room.find_each do |room| %>  
            <li><%= link_to room, '' %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% Schedule.conference_days_array.each do |day|%>  
  <p style='font-weight: bold'><%= day %></p>
  <% Schedule.day_program_hour_hash(day).each do |hour, conference_sessions| %>  
    <dl class="dl-horizontal">
      <dt><%= hour %></dt>
      <% conference_sessions.each do |cs| %>
        <dd style="border-top: 1px solid <%= conference_session_color(cs) %>">
        <span style="background-color: <%= conference_session_color(cs) %>"><%= cs.code %></span>
          <%= link_to cs, cs %> - <%= cs.schedule.room %> (<%= cs.duration %> min)
        </dd>
      <% end %>
    </dl>
  <% end %>
  <%# <%= render partial: 'conference_sessions/condensed_list', locals: {conference_sessions: Schedule.day_program(day)} %>  
<% end %>
