<h1>Program</h1>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#scheduler_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="scheduler_navbar">
      <ul class="nav navbar-nav">
        <%= dropdown_menu fwicon('calendar') + ' Days' do %>
          <% Schedule.conference_days_array.each_with_index do |day, i| %>  
            <li><%= link_to l(day, format: :menu), schedules_path(day: i) %></li>
          <% end %>
        <% end %>
        <%= dropdown_menu fwicon('building') + ' Rooms' do %>
          <% Room.find_each do |room| %>  
            <li><%= link_to room, schedules_path(room_id: room.id) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% schedules = @room ? Schedule.where(room: @room) : Schedule %>  
<% schedules = schedules.day_program_hour_hash(@day) %>  

<p style='font-weight: bold'><%= l(@day, format: :schedule) %></p>

<% schedules.each do |hour, presentations| %>  
  <dl class="dl-horizontal">
    <dt><%= hour %></dt>
    <% presentations.each do |presentation_hash| %>
      <dd style="border-bottom: 2px solid <%= conference_session_color(presentation_hash[:conference_session]) %>">
        <span class="badge"><%= presentation_hash[:conference_session].code %></span>

        <%= link_to presentation_hash[:presentation], conference_session_path(presentation_hash[:conference_session]), remote: true %> (until <%= presentation_hash[:end] %>)<br/>
        <%= link_to user_modal_link presentation_hash[:speaker] %>  

        <span class="pull-right"><%= presentation_hash[:room] %> </span>
      </dd>
    <% end %>
  </dl>
<% end %>
