<h2>Select date and location</h2>

<p class="alert alert-info">
  <%= link_to @conference_session, @conference_session %>
</p>

<%= simple_form_for [@conference_session, @schedule] do |schedule| %>  
  <%= schedule.input :start_day,  as: :schedule_day %>  
  <%= schedule.input :start_hour, as: :schedule_hour %>  
  <%= schedule.association :room, include_blank: false %>  
  <%= schedule.submit %>  
<% end %>


