<%= title @conference_session %>

<h2>Select date and location</h2>

<%= simple_form_for [@conference_session, @schedule] do |schedule| %>  
  <%= schedule.input :start_day,  as: :schedule_day %>  
  <%= schedule.input :start_hour, as: :schedule_hour %>  
  <%= schedule.association :room, include_blank: false %>  
  <%= schedule.submit %>  
<% end %>


