<% show_venue ||= false %>  

<div id="map" style="height: 650px; width: 100%"></div>

<%= javascript_tag do %>  
  var buildings   = <%= raw Building.google_map_array.to_json %>;
  var hotels      = <%= raw Hotel.google_map_array.to_json %>;
  var belmeloro   = buildings[0];
  var santa_lucia = buildings[1];

  belmeloro['icon']   = '\uf015';
  santa_lucia['icon'] = '\uf006';

  var hotel_page_url = '<%= hotels_url %>';

  var map; // global
  var map_options    = { zoom: 15,
                         minZoom: 13,
                         center: belmeloro['position'],
                         scrollwheel: false };

  function draw_place(map, place, show) {
    var info   = new google.maps.InfoWindow({content: place['description']});
    var marker = new google.maps.Marker({position: place['position'],
                                         map: map, 
                                         title: place['name'],
                                         icon: '/false_icon.png', 
                                         label: {
                                           fontFamily: 'Fontawesome',
                                           text: place['icon'],
                                           fontSize: '32px', 
                                           color: '#2a2654'
                                         },
                                        });
    google.maps.event.addListener(marker, 'click', function() { info.open(map, marker); });
    <% if show_venue %>  
      info.open(map, marker); 
    <% end %>
  }

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), map_options);

    draw_place(map, belmeloro);
    draw_place(map, santa_lucia);

    // HOTELS
    var hotel_markers = {};
    hotels.forEach(function(item, index) {
      var hotel_id = item['id'];
      var hotel_description = '<strong><a href="' + hotel_page_url + '#hotel_' + hotel_id + '">' + item['name'] + '</a></strong>' + '<br/>' + item['address'];
      var hotel_info = new google.maps.InfoWindow({ content: hotel_description });

      hotel_markers[hotel_id] = new google.maps.Marker({ position: item['position'], 
                                                         map: map, 
                                                         title: item['name'],
                                                         icon: '/false_icon.png', 
                                                         label: {
                                                           fontFamily: 'Fontawesome',
                                                           text: '\uf236', 
                                                           fontSize: '22px', 
                                                           color: 'purple'
                                                         },
                                                       });
      google.maps.event.addListener( hotel_markers[hotel_id], 'click', 
                                     function() { hotel_info.open(map, hotel_markers[hotel_id]); 
                                                  $(".hotel-panel").removeClass('hotel-panel_selected');
                                                  $("#hotel_" + hotel_id).addClass('hotel-panel_selected');
                                   });
    });

    $('.activate_address_link').click(function(e) {
      var addressid = $(this).data('addressid');
      google.maps.event.trigger(hotel_markers[addressid], 'click');
      map.setCenter(hotel_markers[addressid].position); 
      window.location.href = '#map';
      e.preventDefault();
    });
  };
<% end %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SIAMIS_GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=places">
</script>


