<%= home_program_title("Committees", :users) %>  

<div class="row">
  <% cache 'home_organizing_committee' do %>
    <div class="col-md-6">
      <h4>Co-chairs: </h4>
      <ul>
        <% User.cochairs.each do |user| %>  
          <li><%= link_to user.cn, user.web_page, target: "_blank" %> <small>(<%= user.affiliation %>)</small></li>
        <% end %>
      </ul>

      <h4>Members: </h4>
      <ul>
        <% User.scientific_committee.each do |user| %>  
          <li><%= link_to user.cn, user.web_page, target: "_blank" %> <small>(<%= user.affiliation %>)</small></li>
        <% end %>
      </ul>
    </div><!-- first column -->
    <div class="col-md-6">
      <h4>Local Organizing Committee:</h4>
      <ul>
        <% User.local_committee.each do |user| %>  
          <li><%= link_to user.cn, user.web_page, target: "_blank" %> <small>(<%= user.affiliation %>)</small></li>
        <% end %>
      </ul>
    </div><!-- second column -->
  <% end %>
</div>
