<%= home_program_title("Invited Presentations", 'microphone') %>  

<h3>Plenary Sessions</h3>
<div class="row">
  <% @plenaries.each do |plenary| %>  
    <% speaker = plenary.authors.first.user %>  
    <div class="home-plenary col-md-4">
      <% if plenary.schedule %>  
        <div class="plenary-when"><%= l(plenary.schedule.start) %></div>
      <% end %>
      <div class="plenary-title"><%= plenary.name %></div>
      <div class="plenary-speaker"><%= link_to speaker.cn, user_path(speaker), remote: true %><br/>
        <small>(<%= speaker.affiliation %>)</small></div>
      <div class="plenary-where"><%= plenary.schedule.room if plenary.schedule %></div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="home-plenary col-md-6">
    Winner of
    <p><a href="http://www.siam.org/prizes/sponsored/siagis.php">SIAG/Imaging Science<br/><strong>Best Paper Prize Lecture</strong></a></p>
  </div>
  <div class="home-plenary col-md-6"> 
    Winner of
    <p><a href="http://www.siam.org/prizes/sponsored/siagisearly.php">SIAG/Imaging Science<br/><strong>Early Career Prize Lecture</strong></a></p>
  </div>
</div>

<p>
<%= link_to '[ more on Plenary Sessions ]', plenaries_path %>
</p>


<h3>Minitutorials</h3>
<div class="row">
  <% @minitutorials.each do |plenary| %>  
    <% speaker = plenary.authors.first.user %>  
    <div class="home-plenary col-md-4">
      <% if plenary.schedule %>  
        <div class="plenary-when"><%= l(plenary.schedule.start) %></div>
      <% end %>
      <div class="plenary-title"><%= plenary.name %></div>
      <div class="plenary-speaker"><%= link_to speaker.cn, user_path(speaker), remote: true %><br/>
        <small>(<%= speaker.affiliation %>)</small></div>
      <div class="plenary-where"><%= plenary.schedule.room if plenary.schedule %></div>
    </div>
  <% end %>
</div>

<p>
<%= link_to '[ more on Minitutorials ]', minitutorials_path %>
</p>

