<%= home_program_title("Invited Presentations", 'microphone') %>  

<h3>Plenary Presentations</h3>
<% @plenaries.in_batches(of: 3) do |group| %>  
  <div class="row">
    <% group.each do |plenary| %>  
      <% speaker = plenary.authors.first.user %>  
      <div class="home-plenary col-md-4">
        <% if plenary.schedule %>  
          <div class="plenary-when"><%= l(plenary.schedule.start) %></div>
        <% end %>
        <div class="plenary-title"><%= link_to plenary.name, plenaries_path(anchor: plenary.id) %></div>
        <div class="plenary-speaker">
          <% plenary.authors.each do |author| %>  
            <strong><%= author.user.cn %></strong><br/>
            <small><em>(<%= author.user.affiliation %>)</em></small><br/>
          <% end %>
        </div>
        <div class="plenary-where"><%= plenary.schedule.room if plenary.schedule %></div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="home-plenary col-md-6">
    <p><a href="http://www.siam.org/prizes/sponsored/siagis.php">SIAG/Imaging Science<br/><strong>Best Paper Prize Lecture</strong></a></p>
  </div>
  <div class="home-plenary col-md-6"> 
    <p><a href="http://www.siam.org/prizes/sponsored/siagisearly.php">SIAG/Imaging Science<br/><strong>Early Career Prize Lecture</strong></a></p>
  </div>
</div>

<p>
<%= link_to '[ more on Plenary Presentations ]', plenaries_path %>
</p>


<h3>Minitutorials</h3>
<div class="row">
  <% @minitutorials.each do |plenary| %>  
    <div class="home-plenary col-md-4">
      <% if plenary.schedule %>  
        <div class="plenary-when"><%= l(plenary.schedule.start) %></div>
      <% end %>
      <div class="plenary-title"><%= link_to plenary.name, minitutorials_path(anchor: plenary.id) %></div>
      <div class="plenary-speaker">
        <% plenary.authors.each do |author| %>  
          <strong><%= author.user.cn %></strong><br/>
          <small><em>(<%= author.user.affiliation %>)</em></small><br/>
        <% end %>
        <% if plenary.id == 23 %> 
          <small>with</small><br/>
          Carlo de Franchis and Enric Meinhardt-Llopis<br/>
          <small>(École Normale Supérieure Paris-Saclay)</small>
        <% end %>
      </div>
      <div class="plenary-where"><%= plenary.schedule.room if plenary.schedule %></div>
    </div>
  <% end %>
</div>

<p>
<%= link_to '[ more on Minitutorials ]', minitutorials_path %>
</p>

