<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home_page_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="home_page_navbar">
      <ul class="nav navbar-nav">
        <!-- <li><%= link_to "Preliminary Announcement", '#preliminary_announcement', class: "scrollto" %></li> -->
        <li><%= link_to icon(:info) + " Conference Themes", '#conference_themes', class: "scrollto" %></li>
        <li><%= link_to icon(:users) + " Committees", '#committees', class: "scrollto" %></li>
        <li><%= link_to icon('calendar') + " Important Dates and Deadlines", '#important_dates', class: "scrollto" %></li>
        <li><%= link_to icon('microphone') + " Invited Presentations", '#invited', class: "scrollto" %></li>
        <li><%= link_to icon('hotel') + " Venue & Hospitality", '#venue', class: "scrollto" %></li>
        <li><%= link_to icon('gift') + " Sponsors", '#sponsors', class: "scrollto" %></li>
      </ul>
    </div>
  </div>
</nav>

