<%= home_program_title('Sponsors', 'gift') %>  

<hr/>

<div class="row">
  <div class="sponsor"><h3>Organized by</h3></div>
  <%= sponsor_div("Department of Mathematics<br/><small>University of Bologna</small>", "http://www.unibo.it", "unibo.jpg") %>  
  <%= sponsor_div("Society for Industrial and Applied Mathematics", "http://www.siam.org", "siam.png") %>  
</div>

<hr/>

<div class="row">
  <div class="sponsor"><h3>In cooperation with</h3></div>
  <%= sponsor_div("IEEE Signal processing Society", "http://signalprocessingsociety.org", "ieee.png") %>  
  <%= sponsor_div("SIMAI <br/> <small>Italian Society for Applied and Industrial Mathemathics</small>", "http://www.simai.eu/en", "simai.png") %>  
  <%= sponsor_div("Gesellschaft für Angewandte Mathematik und Mechanik e.V.", "https://www.gamm-ev.de", "Ohne_Schriftzug.jpg") %>  
</div>

<hr/>

<div class="row">
  <div class="sponsor"><h3>Sponsor</h3></div>
  <%= sponsor_div("CINECA", "https://www.cineca.it", "cineca.png") %>  
  <%= sponsor_div("BPER Banca", "http://www.bper.it", "bper.png") %>  
  <div class="sponsor">Work in progress</div>
</div>

<div class="row">
  <div class="sponsor"><h3>Under the patronage of</h3></div>
  <%= sponsor_div("Accademia delle scienze", "http://www.accademiascienzebologna.it", "accademiascienzebologna.png") %>  
  <div class="sponsor">Work in progress</div>
</div>

