<%= home_program_title('Sponsors', 'gift') %>  

<hr/>

<div class="row">
  <div class="sponsor"><h3>Organized by</h3></div>
  <%= sponsor_div("Department of Mathematics<br/><small>University of Bologna</small>", "http://www.unibo.it", "unibo.jpg") %>  
  <%= sponsor_div("Society for Industrial and Applied Mathematics", "http://www.siam.org", "siam.png") %>  
</div>

<hr/>

<div class="row">
  <div class="sponsor"><h3>In cooperation with</h3></div>
  <%= sponsor_div("IEEE Signal Processing Society", "http://signalprocessingsociety.org", "ieee.png") %>  
  <%= sponsor_div("Gesellschaft für Angewandte Mathematik und Mechanik e.V.", "https://www.gamm-ev.de", "Ohne_Schriftzug.jpg") %>  
  <%= sponsor_div("SIMAI", "http://www.simai.eu/en", "simai.png") %>  
</div>

<hr/>

<div class="row">
  <div class="sponsor"><h3>Sponsor</h3></div>
  <%= sponsor_div("Emilia Romagna", "http://www.aptservizi.com/", "apt.jpg") %>  
  <%= sponsor_div("CINECA", "https://www.cineca.it", "cineca.jpg") %>  
  <%= sponsor_div("BPER Banca", "http://www.bper.it", "bper.png") %>  
</div>
<div class="row">
  <div class="sponsor">&nbsp;</div>
  <%= sponsor_div("Datalogic", "http://www.datalogic.com", "datalogic.jpg") %>  
  <%= sponsor_div("Azimut", "http://www.azimut.it/", "azimut.gif") %>  
</div>
<div class="row">
  <div class="sponsor">&nbsp;</div>
  <%= sponsor_div("Comunico Italiano", "http://www.comunicoitaliano.it", "comunico_italiano.png") %>  
  <%= sponsor_div("Tenuta Santa Croce", "https://www.tenutasantacroce.it", "tsc.png") %>  
  <%= sponsor_div("Rotary 2072", "http://www.rotary2072.org/rotary2072", "rotary.jpg") %>  
</div>
<div class="row">
  <div class="sponsor">&nbsp;</div>
  <%= sponsor_div("GNCS Indam", "http://www.altamatematica.it/gncs", "gncs.jpg") %>  
</div>

<hr/>

<div class="row">
  <div class="sponsor"><h3>Under the patronage of</h3></div>
  <%= sponsor_div("Comune di Bologna<br/>&nbsp;", "http://www.comune.bologna.it/", "ComunediBologna.png") %>  
  <%= sponsor_div("Accademia delle scienze<br/><small>dell'istitituto di Bologna</small>", "http://www.accademiascienzebologna.it", "accademiascienzebologna.png") %>  
  <%= sponsor_div("Regione Emilia Romagna<br/>&nbsp;", " http://www.regione.emilia-romagna.it", "regione_emilia_romagna.png") %>  
</div>
<div class="row">
  <div class="sponsor">&nbsp;</div>
  <%= sponsor_div("Ordine Ingegneri Bologna<br/>&nbsp;", " http://www.ordingbo.it", "ordine_ingegneri.jpg") %>  
</div>

