<%= home_program_title("Sponsors", 'gift') %>  

<div class="row">
<div class="sponsor col-md-4">
  <h3>Alma Mater Studiorum Università di Bologna<br/><small>Department of Mathematics</small>
  <p class="centered"><%= image_tag 'sponsors/unibo.jpg' %> </p>
</div>
 
<div class="sponsor col-md-4">
  <h3>Society for Industrial and Applied Mathematics</h3>
  <p class="centered"><%= image_tag 'sponsors/siam.png' %> </p>
</div>
  
<div class="sponsor col-md-4">
  <h3>IEEE Signal processing Society</h3>
  <p class="centered"><%= image_tag 'sponsors/ieee.png' %> </p>
</div>

<div class="sponsor col-md-4">
  <h3>SIMAI » <small>Italian Society for Applied and Industrial Mathemathics</small></h3>
  <p class="centered"><%= image_tag 'sponsors/simai.png' %> </p>
</div>
</div>

