<%= home_program_title("Sponsors", 'gift') %>  

<div class="row">
  <div class="sponsor col-md-4">
    <a href="http://www.unibo.it">
      <p class="centered"><%= image_tag 'sponsors/unibo.jpg' %> </p>
      <h3>Alma Mater Studiorum Università di Bologna<br/><small>Department of Mathematics</small>
      </h3>
    </a>
  </div>

  <div class="sponsor col-md-4">
    <a href="http://www.siam.org">
      <p class="centered"><%= image_tag 'sponsors/siam.png' %> </p>
      <h3>Society for Industrial and Applied Mathematics</h3>
    </a>
  </div>

  <div class="sponsor col-md-4">
    <a href="http://signalprocessingsociety.org">
      <p class="centered"><%= image_tag 'sponsors/ieee.png' %> </p>
      <h3>IEEE Signal processing Society</h3>
    </a>
  </div>

  <div class="sponsor col-md-4">
    <a href="http://www.simai.eu/en">
      <p class="centered"><%= image_tag 'sponsors/simai.png' %> </p>
      <h3>SIMAI » <small>Italian Society for Applied and Industrial Mathemathics</small></h3>
    </a>
  </div>
</div>

