<%= home_program_title("Submissions", 'envelope-o') %>  

<p>
SIAM requests that individuals limit themselves to giving one talk (this does not apply to invited plenary speakers).<br/>
All submissions are subject to review and final approval by the co-chairs.
</p>

<p>You are invited to contribute a presentation for this conference in one of the following formats.</p>

<div class="row">
  <div class="col-md-6">
    <h4>Minisymposia</h4>
    <p>
    A minisymposium generally consists of four 25-minute presentations, with an additional five minutes for discussion after each presentation.  To ensure balance, SIAM prefers a single individual not be the (co)organizer of more than one minisymposium, however, organizers can submit up to two (2) parts per minisymposium, allowing up to eight (8) speakers. In addition, SIAM discourages minisymposia in which most of the speakers or co-authors come from the same institution.
    </p>
    <p>
    Minisymposia submission will be available 
    from <%= l Deadline.minisymposium_proposal_start %> to <%= l Deadline.minisymposium_proposal_end %>.
    </p>
  </div>

  <div class="col-md-6">
    <h4>Contributed Presentations in Lecture or Poster Format</h4>
    <p>Contributed presentations in lecture or poster format are invited in all areas consistent with the conference themes. A lecture format is generally a 15-minute oral presentation with an additional 5 minutes for discussion. Talk lengths will be determined by the co-chairs at the close of submissions.</p>

    <p>A poster format involves the use of non-electronic visual aids for mounting on a 4’ x 6’ or 4’ x 8’ poster board. A poster session is two hours long.</p>
    <p>
    Contributed Presentation submission will be available 
    from <%= l Deadline.presentation_proposal_start %>
  to  <%= l Deadline.presentation_proposal_end %>.
    </p>
  </div>
</div>

<% if Deadline.before_first_proposal? %>  
  <strong>Submissions will start <%= l(Deadline.minisymposium_proposal_start)%></strong>.
<% else %>
  <% if current_user %>  
    Please visit <%= link_to 'submission page', submissions_path %>.
  <% else %>
    <p class="centered">
      <%= link_to 'To submit a contribution please<br/>Sign-in / Register'.html_safe, new_user_session_path, class: :big_button %>
    </p>
  <% end %>
<% end %>
</p>
