<%= home_program_title("Venue & Hospitality", 'hotel') %>  

<div class="row">
  <div class="col-md-4">
    <h3>Bologna</h3>
    <div class="image"><%= link_to(image_tag('venues/piazza_verdi.jpg', width: 300), 'http://www.bolognawelcome.com/en') %></div>
    <p>You can find informations about Bologna in <br/><%= link_to icon('external-link') + ' Bologna welcome', 'http://www.bolognawelcome.com/en' %></p>
  </div>
  <div class="col-md-4">
    <h3>Plenary Sessions</h3>
    <div class="image"><%= link_to(image_tag('venues/santa_lucia.jpg', width: 300), venue_path(anchor: 'aula_magna')) %> </div>
    <p>Plenary sessions will take place in <br/>
    <strong><%= link_to 'Aula Magna Santa Lucia', venue_path(anchor: 'aula_magna') %></strong>.</p>
  </div>
  <div class="col-md-4">
    <h3>Concurrent sessions</h3>
    <div class="image"><%= link_to(image_tag('venues/aula_belmeloro.jpg', width: 300), venue_path(anchor: 'belmeloro')) %></div>
    <p>Concurrent sessions will take place in <br/>
    <strong><%= link_to 'Complesso Belmeloro', venue_path(anchor: 'belmeloro') %></strong>.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Accomodation</h3>
    <div class="image"><%= link_to(image_tag('hotels/hotel_savoia.jpg', width: 300), hotels_path) %></div>
  <p>Preferred rates with a number of accommodation sites have been negotiated for the Congress. Please mention the SIAM-IS 2018 when reserving your room.</p>
    <strong><%= link_to 'Accomodations', hotels_path %></strong>.</p>
  </div>
</div>
