<%= program_title('Credits', 'university') %>  

<p>
  All photos are taken from <%= link_to 'Flickr', 'https://www.flickr.com' %> and used under <%= link_to icon('creative-commons') + ' Creative Commons', 'https://creativecommons.org/licenses/by/2.0' %>. 
</p>

<p>Credits and thanks to: </p>

<ul>
  <li><%= link_to 'Pedro', 'https://www.flickr.com/photos/pedrocaetano/32312256655' %></li>
  <li><%= link_to 'Marco Sbaffoni', 'https://www.flickr.com/photos/marsbaffoni/17416117749' %></li>
  <li><%= link_to 'Goldmund100 (Luca Volpi)', 'https://commons.wikimedia.org/wiki/File:Bologna_seen_from_Asinelli_tower.jpg' %></li>
  <li><%= link_to 'Tango 7174', 'https://commons.wikimedia.org/wiki/File:Emilia_Bologna2_tango7174.jpg' %></li>
</ul>
