<%= program_title('Credits', 'university') %>  

<p>
  All photos are taken from <%= link_to 'Flickr', 'https://www.flickr.com' %> and used under <%= link_to icon('creative-commons') + ' Creative Commons', 'https://creativecommons.org/licenses/by/2.0' %>. 
</p>

<p>Credits and thanks to: </p>

<ul>
  <li><%= link_to 'Pedro', 'https://www.flickr.com/photos/pedrocaetano/' %></li>
  <li><%= link_to 'Pedro', 'https://www.flickr.com/photos/pedrocaetano/' %></li>
</ul>
