<%= program_title("Privacy", 'user-secret') %>  

<h2 class="privacy-title">Reason for this statement</h2>

<p>This information is provided - also in pursuance of 
<%= link_to 'Section 13 of Legislative Decree no. 196/2003', 
            'http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/4814258' %> -
            to any entity having to do with the web-based services that are made available by the 
            <i>SIAM Conference on imaging science 2018</i> via electronic networks as from the following address:
</p>

<p><%= link_to 'https://www.siam-is18.dm.unibo.it/', 'https://www.siam-is18.dm.unibo.it/' %></p>

<p>which corresponds to the home page of our official web site.</p>

<p>As per art. 13 of D.lgs. 196/2003, we inform you that 
<i>SIAM Conference on imaging science 2018</i> 
will process the data you provide for purely institutional purposes and 
abiding by the laws on the protection of personal data.</p>

<h2 class="privacy-title">Purpose and manner of processing</h2>

<p>Data will be processed, using electronic means and otherwise, by specifically appointed staff for purposes connected with running the event and with your participation in it.</p>

<p>Personal data provided by users will only be used for event organization purposes and will not be disclosed to third parties.</p>

<h2 class="privacy-title">Nature of data</h2>

You are free to give your data or not. If you choose not to, you will not be able to register for, and accordingly not take part in, the event.

<h2 class="privacy-title">Processing subjects</h2>

<p>The processing entity is <%= commette_name %>. The person in charge of processing is Prof. Fiorella Sgallari c/o Dipartimento di Matematica, Università di Bologna, P.zza Porta San Donato, 5 - 40126 Bologna (Italy).</p>

<h2 class="privacy-title">Rights of interested parties</h2>

<p>The persons to whom the personal data relate are at any moment entitled to know whether said data exist on record or not, to know the content and origin, to check the accuracy thereof and ask for them to be completed, updated or rectified (article 7 of the personal data protection Code).</p>

<p>That same article ensures the right to demand that any data illegally processed be cancelled, rendered anonymous or blocked, and the right in any case to oppose such processing upon legitimate grounds. </p>

<p>Claims should be addressed to <%= mail_to_siam %>.</p>

<h2 class="privacy-title">Cookies used</h2>

<p>This site uses session cookies, which are indispensable to manage user authentication when accessing on-line services and reserved areas. These cookies are used to transmit session details required to allow users to browse the website safely and efficiently.</p>

<p>By disabling these cookies users will not be able to use some of the on-line services.</p>

<h2 class="privacy-title">Contact Information</h2>

<p>If you have any questions or comments about this Privacy Policy, you can contact us at:</p>

<pre>
<%= commette_name %>  
Dipartimento di Matematica
Piazza di Porta San Donato, 5
40126, Bologna 
Italy

<%= mail_to_siam %>  
</pre>
