<%= program_title('Travel Information', 'plane') %>  

<div>
  <p><strong>Special rates for the SIAM IS18 Conference:</strong></p>
  <p>The Bologna Touristic Bureau has negotiated special rates for planes and trains. In particular:</p>

  <ul>
    <li>Air France KLM</li>
    <li>Trenitalia and Italo</li>
  </ul>
</div>

<p>For more details and for the discount code write to <%= mail_to_siam %></p>

<div class="alert alert-info">
  <h2 class="centered"><%= big_icon('plane') %> Arriving to Bologna by Air</h2>

  <div>

    <h4>> Moving to the City by taxi:</h4>

    <p>
    Weekday fare: € 15,00* + € 0,50 extra per baggage item;<br/>
    Bank holidays and night fare: € 18,00*+ € 0,50 extra per baggage item;<br/>
    From the 5th person on board, an extra € 1,00 charge per person will apply.<br/>
    </p>

    <p>
    Please note:
    (*) The above mentioned fares are only for reference; they may vary according to traffic conditions, as they are planned on the basis of the distance and trip duration of the considered itinerary. Information provided by ASCOM TAXI - CNA FITA - CONFARTIGIANATO TAXI - UNICA TAXI - URITAXI.
    </p>

    <h4>> Moving to the City by Bus:</h4>

    <p>From the Airport you can take the <strong>Aerobus - BLQ shuttle service</strong>. 
    Aerobus is a shuttle service run by <a href="https://www.tper.it">TPER</a>, Bologna's local transport company, connecting Bologna Airport with the <strong>city centre</strong> and the <strong>railway station</strong>. It runs every 11 minutes every day of the year (the first trip from the airport is at 5:30 am, and the last trip is at 12:15 am.)</p>
    <p>One-way ticket from/to the Airport € 6.00.</p>
    <p>Please visit <%= link_to 'Aerobus home page', 'https://aerobus.bo.it/en' %>.</p>

  </div>
</div>

<div class="alert alert-warning">
  <h2 class="centered"><%= big_icon('train') %> Arriving to Bologna by Train</h2>

  <p>Bus <a href="https://www.tper.it/bo-32">line 32</a> departs frequently from Station Stazione Centrale to Porta San Vitale, which is located right in front of the venue.</p>
  <p>Buses are operated by <a href="https://www.tper.it">TPER</a>. Tickets can be bought on the bus (1.50 &euro; from vending machines, using coins only) or at tobacco shops, e.g. at the train station (1.30 &euro;). The cost for 10 tickets (city pass) is 12.00 &euro;.</p>

</div>

<div class="alert alert-success">
  <h2 class="centered"><%= big_icon('info') %> General information</h2>

  <dl>
    <dt>Emergency Phone Number</dt><dd> 118 Medical Emergencies; 113 Emergency Police Help Number; 115 Fire Department</dd>
    <dt>Time Zone</dt><dd> CEST (Central European Summer Time); UTC/GMT+2</dd>
    <dt>Electricity</dt><dd> 220 V, 50Hz; power sockets follow European standards;</dd>
    <dt>Currency</dt><dd> Euro (EUR)</dd>
    <dt>Dial Country Code</dt><dd> +39</dd>
    <dt>Working hours Banks</dt><dd> 8:30 -- 13:30; 14:30 -- 15:45 (Monday to Friday)</dd>
    <dt>Buses in Bologna</dt><dd> <a href="https://www.tper.it">www.tper.it</a></dd>
    <dt>Pharmacies</dt><dd> 08:30 -- 12:30, 15:30 -- 19:30 (Monday to Saturday, some are open 24 hours a day, everyday)</dd>
    <dt>Shops</dt><dd> 9:30 -- 13:00; 15:30 - 19:30 (Monday to Saturday)</dd>
    <dt>Bologna Touristic Bureau</dt><dd> <a href="https://www.bolognawelcome.com/en">www.bolognawelcome.com/en</a>
  </dl>






