<%= program_title('Travel Information', 'plane') %>  

<div>
  <p><strong>Special rates for the SIAM IS18 Conference:</strong></p>
  <p>The Bologna Touristic Bureau has negotiated special rates for planes and trains. In particular:</p>

  <ul>
    <li>Air France KLM</li>
    <li>Trenitalia and Italo</li>
  </ul>
</div>

<p>For more details and for the discount code write to <%= mail_to_siam %></p>

<div class="alert alert-info">
  <h2 class="centered"><%= big_icon('plane') %> Arriving to Bologna by Air</h2>

  <div>

    <h4>> Moving to the City by taxi:</h4>

    <p>
    Weekday fare: € 15,00* + € 0,50 extra per baggage item;<br/>
    Bank holidays and night fare: € 18,00*+ € 0,50 extra per baggage item;<br/>
    From the 5th person on board, an extra € 1,00 charge per person will apply.<br/>
    </p>

    <p>
    Please note:
    (*) The above mentioned fares are only for reference; they may vary according to traffic conditions, as they are planned on the basis of the distance and trip duration of the considered itinerary. Information provided by ASCOM TAXI - CNA FITA - CONFARTIGIANATO TAXI - UNICA TAXI - URITAXI.
    </p>

    <h4>> Moving to the City by Bus:</h4>

    <p>From the Airport you can take the <strong>Aerobus - BLQ shuttle service</strong>. 
    Aerobus is a shuttle service run by <a href="https://www.tper.it">TPER</a>, Bologna's local transport company, connecting Bologna Airport with the <strong>city centre</strong> and the <strong>railway station</strong>. It runs every 11 minutes every day of the year (the first trip from the airport is at 5:30 am, and the last trip is at 12:15 am.)</p>
    <p>One-way ticket from/to the Airport € 6.00.</p>
    <p>Please visit <%= link_to 'Aerobus home page', 'https://aerobus.bo.it/en' %>.</p>

  </div>
</div>

<div class="alert alert-warning">
  <h2 class="centered"><%= big_icon('train') %> Arriving to Bologna by Train</h2>

  <p>Bus <a href="https://www.tper.it/bo-32">line 32</a> departs frequently from Station Stazione Centrale to Porta San Vitale, which is located right in front of the venue.
  For other buses see <a href="https://www.tper.it/map">Tper maps</a>.
  <p>Buses are operated by <a href="https://www.tper.it">TPER</a>. Tickets can be bought on the bus (1.50 &euro; from vending machines, using coins only) or at tobacco shops, e.g. at the train station (1.30 &euro;). The cost for 10 tickets (city pass) is 12.00 &euro;.</p>
  <div class="row centered" style="margin-top: 20px">
    <div class="col-md-6">
      <p><strong>Bus 11 from station to Aula Magna Santa Lucia</strong></p>
      <p>On the first day of the Conference, the <strong>Opening Session</strong> and the <strong>Plenary Presentations</strong> will take place 
      in <a href="https://www.google.com/maps/place/Ex+Saint+Lucia/@44.4895534,11.3476291,15z/data=!4m5!3m4!1s0x0:0x119657fd9e0ebc80!8m2!3d44.4895534!4d11.3476291" target="_new">Aula Magna Santa Lucia</a>.</p>  
      <% map_url = "https://www.google.com/maps/dir/Bologna+Centrale,+Piazza+delle+Medaglie+d'Oro,+40121+Bologna+BO/Via+Castiglione,+36,+40124+Bologna+BO/@44.4969246,11.3358582,15z" %>  
      <%= link_to image_tag('venues/bus/bus_from_station_to_Aula_Sanat_Lucia.png', class: "img-thumbnail"), map_url, target: '_new' %>  
    </div>
    <div class="col-md-6">
      <p><strong>Bus 32 from station to main conference location</strong></p>
      <p>Other <strong>Plenary Presentations</strong> and <strong>Concurrent sessions</strong> will take place 
      in <a href="https://www.google.com/maps/place/Universit%C3%A0+di+Bologna+Aula+Studio/@44.4950431,11.3560656,15z/data=!4m5!3m4!1s0x0:0xca27122b03987eea!8m2!3d44.4950431!4d11.3560656" target="_new">Complesso Belmeloro</a>.</p>
      <% map_url = "https://www.google.com/maps/dir/Bologna+Centrale,+40121+Bologna+BO/Via+Beniamino+Andreatta,+8,+40126+Bologna+BO/@44.4999433,11.3456732,16z" %>  
      <%= link_to image_tag('venues/bus/bus_from_station_to_main_conference_location.png', class: "img-thumbnail"), map_url, target: '_new' %>  
    </div>
  </div>
</div>

<div class="alert alert-success">
  <h2 class="centered"><%= big_icon('info') %> General information</h2>

  <dl>
    <dt>Emergency Phone Number</dt><dd> 118 Medical Emergencies; 113 Emergency Police Help Number; 115 Fire Department</dd>
    <dt>Time Zone</dt><dd> CEST (Central European Summer Time); UTC/GMT+2</dd>
    <dt>Electricity</dt><dd> 220 V, 50Hz; power sockets follow European standards;</dd>
    <dt>Currency</dt><dd> Euro (EUR)</dd>
    <dt>Dial Country Code</dt><dd> +39</dd>
    <dt>Working hours Banks</dt><dd> 8:30 -- 13:30; 14:30 -- 15:45 (Monday to Friday)</dd>
    <dt>Buses in Bologna</dt><dd> <a href="https://www.tper.it">www.tper.it</a></dd>
    <dt>Pharmacies</dt><dd> 08:30 -- 12:30, 15:30 -- 19:30 (Monday to Saturday, some are open 24 hours a day, everyday)</dd>
    <dt>Shops</dt><dd> 9:30 -- 13:00; 15:30 - 19:30 (Monday to Saturday)</dd>
    <dt>Bologna Touristic Bureau</dt><dd> <a href="https://www.bolognawelcome.com/en">www.bolognawelcome.com/en</a>
  </dl>






