<% @no_container = true %>

<%= program_title('Bologna', 'university') %>  

<div class="bg-colored" style="padding-top: 0">
  <div>
    <%= image_tag 'bologna/11343213415_e691475c26_o.jpg', style: 'width: 100%; margin-bottom: 20px' %>
  </div>
  <div class="container">
    <p>Bologna, capital of the Emilia Romagna region, is located in a strategic position in the heart of Italy, midway between Milan and Florence.</p>

    <p>Home to the <strong>oldest university in the world, University of Bologna,</strong> founded in 1088, Bologna hosts thousands of students who enrich the social and cultural life of the city. Famous for its towers and lengthy porticoes, Bologna has a well-preserved historical centre (one of the largest in Italy).</p>

    <p class="centered">
      <%= bologna_welcome_links %>  
    </p>
  </div>
</div>

<div class="bg-colored">
  <div class="container">
    <div class="row centered">
      <div class="col-md-6">
        <h2 id="aula_magna">Aula Magna Santa Lucia</h2>
        <p><strong>Via Castiglione 36, 40124 Bologna</strong></p>
        <p><%= link_to(image_tag('venues/santa_lucia.jpg', width: 300), venue_path(anchor: 'aula_magna')) %></p>
        <p>On the first day of the Conference <strong>Plenary Presentations</strong> will take place in Aula Magna Santa Lucia.</p>  
      </div>

      <div class="col-md-6">
        <h2 id="belmeloro">Complesso Belmeloro</h2>
        <p><strong>Via Belmeloro, 14, 40126 Bologna</strong></p>
        <p><%= link_to(image_tag('venues/aula_belmeloro.jpg', width: 300), venue_path(anchor: 'aula_magna')) %></p>
        <p>Other <strong>Plenary Presentations</strong> and <strong>Concurrent sessions</strong> will take place in Complesso Belmeloro.</p>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/main_google_map.html', locals: {show_venue: true} %>  

<div style="margin-top: 30px;">
  <%= image_tag 'bg/bg_nettuno.jpg', style: 'width: 100%' %>
</div>

