<h1>
  <%= @minisymposia ? 'Minisymposia' : 'Submissions' %> Ratings <br/>
  <small>by Scientific Commettee</small>
</h1>

<div class="list-group">
  <% @list.each do |submission| %>  
    <% url = params[:minisymposia] ? new_minisymposium_rating_path(submission) : new_presentation_rating_path(submission) %>  
    <div class="list-group-item">
      <%= link_to submission, submission %> 
      <em> by: <%= users_list(submission) %></em>
      <ul>
        <% rated_by_me = nil %>  
        <% submission.ratings.each do |rating| %>  
          <%- rated_by_me = true if rating.user == current_user %>  
          <li>
            <%= rating_stars(rating.score) %> 
            <%= rating.user %> 
            <em>(<%= rating.notes %>)</em>  
            <%= link_to_edit url if rated_by_me %>  
          </li>
        <% end %>
        <% unless rated_by_me %>  
          <li><%= link_to icon('star') + ' rate', url, class: 'button', remote: true %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
</div>

