<h1>
  <%= @minisymposia ? 'Minisymposia' : 'Submissions' %> Ratings <br/>
  <small>by Scientific Commettee</small>
</h1>

<div class="list-group">
  <% @list.each do |submission| %>  
    <div class="list-group-item">
      <%= link_to submission, submission %> 
      <em><%= users_list(submission) %> </em>
      <ul>
        <% rated_by_me = nil %>  
        <% submission.ratings.each do |rating| %>  
          <li><%= rating.user %> <%= rating_stars(rating.score) %> <em>(<%= rating.notes %>)</em>  </li>
          <%- rated_by_me = true if rating.user == current_user %>  
        <% end %>
        <% unless rated_by_me %>  
          <% url = params[:minisymposia] ? new_minisymposium_rating_path(submission) : new_presentation_rating_path(submission) %>  
          <li><%= link_to icon('star') + ' rate', url, class: 'button' %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
</div>

