<h1>
<%= @minisymposia ? 'Minisymposia' : 'Submissions' %> Ratings 
<small>(Scientific Commettee)</small>
</h1>

<div class="list-group">
  <% @list.each do |submission| %>  
    <div class="list-group-item">
      (<%= submission.code %>)  <%= link_to submission, submission %> 
    <em> by: 
        <%= 
           # not use for eager loading users_list(submission) 
           submission.roles.map{|r| r.user.cn }.join(', ')
        %></em>
    <% if submission.accepted? %>  
      <p><span class="label label-success"><%= icon(:check) %> Accepted</span></p>
    <% else %>  
      <ul>
        <% submission.ratings.each do |rating| %>  
          <li>
            <%= rating_stars(rating.score) %> 
            <%= rating.user %> 
            <em>(<%= rating.notes %>)</em>  
            <%= icon('check') if (rating.user_id == current_user.id) %>  
          </li>
        <% end %>
      </ul>
    <% end %>
    </div>
  <% end %> 
</div>

