<h1>Rate</h1>

<p>Give your rate to "<%= @rating.about.name %>"</div>

<%= simple_form_for [@rating.about, @rating] do |rating| %>  
  <%= rating.input :score, collection: (0..5) %>  
  <%= rating.input :notes %>  
  <%= rating.submit %>  
<% end %>


