<%= program_title('My program', 'map') %>  

<p class="alert alert-info">In order to build you personal schedule visit <%= link_to 'program day by day', conference_program_path %>, choose the session you are interested in  and click on the star ( <%= icon('star') %>) icon.</p>
<% @interests.sort.to_h.each do |day, sessions| %>  
  <% day_number = (day - Rails.configuration.conference_start_date).to_i %>  
  <div style="font-size: 18px; margin: 32px 0px">
    <span style="border: 1px solid black; padding: 12px">
      <%= link_to big_icon(:calendar) + " " + l(day), conference_program_path(day: day_number), style: 'color: black' %>
    </span>
  </div>
  <% sessions.sort_by {|s| s[:start] }.each do |s| %>  
    <% cs       = s[:cs] %>  
    <% part     = s[:part] %>  
    <% schedule = cs.schedules.where(part: part).first %>  
    <div class="conference_program_item">
      <%= link_to(conference_session_path(cs, part: schedule.part), remote: true) do %>
        <div class= "<%= conference_session_css_class(cs) %> conference_program_item_name">
          <%= icon 'clock-o' %> <%= schedule ? l(schedule.start, format: :hour) : ' - ' %>  
        </div>
      <% end %>
      <div class='conference_program_item_description'>
        <%= link_to conference_session_path(cs, part: part), remote: true do %>
          <strong><%= cs %></strong> 
        <% end %>
        <small>
          <br/><%= cs.organizers_label %>: <%= show_roles(cs.organizers) %><br/>
          <em><span><%= icon('map-marker') %> <%= schedule.room if schedule %></span></em>
        </small>
      </div>
    </div>
  <% end %>
<% end %>

<%= javascript_tag do %>  
  reload_on_modal_close = true;
<% end %>
