<% if current_user %> 
  <% old_hour = nil %>  

  <div class="row">
    <div class="col-md-3">
      <nav aria-label="Day pagination">
        <ul class="list-group">
          <% (0...Rails.configuration.number_of_days).each do |daynumber| %>  
            <% day = Schedule.conference_day(daynumber) %>
            <%= link_to l(day, format: :schedule), conference_program_path(day: daynumber, room_id: @room ? @room.id : nil), class: "list-group-item #{'active' if day == @day}" %>
          <% end %>
        </ul>
      </nav>
      <nav aria-label="Room pagination">
        <ul class="list-group">
          <%= link_to 'Show all rooms', conference_program_path(day: @daynumber), class: "list-group-item" %>
          <% Room.order(:name).each do |room| %>  
            <%= link_to room.name, conference_program_path(day: @daynumber, room_id: room.id), class: "list-group-item #{'active' if room == @room}" %>
          <% end %>
        </ul>
      </nav>
    </div><!-- div nav -->

    <div class="col-md-9">
      <%= program_title("Conference Program", 'map') %>  

      <div class="day_program">
        <% @conference_program.each do |schedule| %>  
          <% hour = l(schedule.start, format: :hour) %>  

          <% if old_hour != (old_hour = hour) %>  
            <div class="alert alert-info centered"><p><strong><%= hour %></strong></p></div>
          <% end %>

          <%= cache schedule do %>  
            <%= render schedule %>  
          <% end %> 
        <% end %> 
      </div><!-- day_program -->
    </div><!-- col-md-9 -->
  </div><!-- row -->
<% else %>
  <p class="alert alert-info">
    Please login to view The SIAM IS 2018 program.
  </p>
<% end %>
