<p style="text-align: right"><%= link_to 'Printable program in A3 page', 'https://www.siam-is18.dm.unibo.it/siamis18_a3_program.pdf' %></p>

<% old_hour = nil %>  

<nav aria-label="Day pagination">
  <ul class="nav nav-tabs nav-justified">
    <% percent = (100 / Rails.configuration.number_of_days).to_i %>  
    <% (0...Rails.configuration.number_of_days).each do |daynumber| %>  
      <% day = Schedule.conference_day(daynumber) %>
      <li role="presentation" style="float: left; display: block; width: <%= percent %>%">
        <% day_string = "<strong>#{day.strftime('%^a')}</strong><br/>#{day.strftime('%d %B')}" %>  
        <%= link_to day_string.html_safe, conference_program_path(day: daynumber, room_id: @room ? @room.id : nil), class: "list-group-item #{'active' if day == @day}" %>
      </li>
    <% end %>
  </ul>
</nav>

<div class="day_program" style="margin-top: 10px;">
  <% @conference_program.each do |schedule| %>  
    <% hour = l(schedule.start, format: :hour) %>  

    <% if old_hour != (old_hour = hour) %>  
      <div class="alert centered" style="font-size: 120%"><%= big_icon 'clock-o' %>  <strong><%= hour %></strong> <br/> <%= l(schedule.start, format: :schedule) %>  </div>
    <% end %>

    <%= cache schedule do %>  
      <%= render schedule %>  
    <% end %>

  <% end %> 
</div><!-- day_program -->

<div class="centered">
  <% if @daynumber > 0 %>
    <%= link_to icon('chevron-circle-left', size: 42), conference_program_path(day: @daynumber - 1) %>
  <% end %>
  <% if @daynumber < Rails.configuration.number_of_days %>
    <%= link_to icon('chevron-circle-right', size: 42), conference_program_path(day: @daynumber + 1) %>
  <% end %>
</div>
