<h1><%= @day %></h1>

<%= startings = Schedule.startings_cest %>  

<table class="table conference_program">
  <% @schedule =  Schedule.day_program(@day, start: "11:30") %>  
  <tr>
    <% @schedule.each do |schedule| %>  
      <th><%= schedule.room.name %> </th>
    <% end %>
  </tr>
  <tr>
    <% @schedule.each do |schedule| %>  
      <td><%= schedule.conference_session.name %> </td>
    <% end %>
  </tr>
  <tr>
    <% @schedule.each do |schedule| %>  
      <td>
         <%= show_roles_list(schedule.conference_session.organizers) %>  
      </td>
    <% end %>
  </tr>

</table>
