<div class="container">
<%= program_title("Submissions - #{@title}", 'star') %>  

<dl class="admin_list">
  <% total = 0 %>  
  <% @list.each do |element| %>  
    <dt id="<%= element.id %>">
      <%= icon('check') if element.accepted %>  
      <%= link_to element.to_s.upcase, element, remote: true %>
    </dt>

    <dd><%= show_roles(element.respond_to?(:organizers) ? element.organizers : element.authors, show_registration: true) %></dd>

    <dd style="font-size: 80%">
    <% if @my_ratings.include?(element.id) %>
      <span style="color: green">You rated this</span> -
    <% elsif user_in_scientific_committee? %> 
      <%= link_to icon('star') + ' rate this', [:new, element, :rating], remote: true %> -
    <% end %>

    <% if element.is_a?(Minisymposium) %>  
      <span <%= 'class="alert-danger"'.html_safe if (element.presentation_count % 4) != 0 %>><%= element.presentation_count %> presentations.</span> 
    <% end %>

    <%= element.ratings.size %> ratings.
    Last update: <%= l element.updated_at %>

    <% if element.is_a?(Minisymposium) %>
      <% if (missing_count = element.presentations.without_abstract.count) > 0 %>  
        <span class="alert-warning"><%= missing_count %> abstracts missing</span>
      <% end %>
      <% total += (element.parts || 1) %>  
      <span class="pull-right"><%= total %></span>
    <% else %>
      <% if element.abstract.blank? %>  
        <span class="alert-warning"><%= missing_count %>no abstract</span>
      <% end %>
      <% total += 1 %>
      <span class="pull-right"><%= total %></span>
    <% end %>
    <% if element.is_a?(Minisymposium) %>
      ( <%= link_to icon('calendar'), new_conference_session_schedule_path(element), class: (element.schedules.count == element.parts) ? 'alert-success' : '' %>)
    <% end %>
    </dd>
  <% end %>
</dl>

<% if @position.to_i > 0 %>    
  <%= javascript_tag do  %>  
    window.location.hash = '#<%= @position.to_i %>';
  <% end %>
<% end %>


