<div class="container">
<% if @minisymposia %>  
   <%= program_title('Minisymposia Submissions', 'magic') %>  

  <dl class="admin_list">
    <% @minisymposia.each do |minisymposium| %>  
      <dt><%= link_to minisymposium.name, minisymposium_path(minisymposium), remote: true %></dt>
      <dd><%= show_roles(minisymposium.organizers) %></dd>
      <dd>keywords: <%= minisymposium.tags_to_s %> </dd>
      <dd><small><%= minisymposium.presentation_count %> presentations. Last update: <%= l minisymposium.updated_at %></small></dd>
    <% end %>
  </dl>
<% end %>

<% if @presentations %>  
  <h2>Presentations <small>(unassigned)</small></h2>
<% end %>

<% if @posters %>  
  <h2>Posters <small>(unassigned)</small></h2>
<% end %>
</div>


