<% if user_in_organizer_commettee? %>  
  <h2>Minisymposia: <small>(<%= @minisymposia.count %> to accept/refuse)</small> </h2>
  <%= ul_list(@minisymposia) %>  

  <h2>Presentations: <small>(<%= @presentations.count %> to accept/refuse)</small> </h2>
  <%= ul_list(@presentations) %>

  <h2>Posters: <small>(<%= @posters.count %> to accept/refuse)</small> </h2>
  <%= ul_list(@posters) %>
<% else %>
  <% if @presentations.any? or @minisymposia.any? %>
    <h2>Your submissions</h2>
    <%= render @presentations %>  
    <%= render @minisymposia, with_presentations: true %>  
    <hr/>
  <% end %>

  <%= render partial: 'description' %>  
  <%= render partial: 'deadlines/minisymposium_submission' %>  
  <%= render partial: 'deadlines/presentation_submission' %>  
  <%= render partial: 'forms' %>  
<% end %>

