<% if user_in_organizer_committee? %>  
  <% if @minisymposia.any? %>  
    <h2>Minisymposia</h2>
    <%= render partial: 'conference_sessions/condensed_list', locals: {conference_sessions: @minisymposia} %>  
  <% end %>

  <% if @unassigned_presentations.any? %>  
    <h2>Presentations <small>(unassigned)</small></h2>
    <%= render partial: 'presentations/condensed_list', locals: {presentations: @unassigned_presentations} %>  
  <% end %>

  <% if @posters.any? %>  
    <h2>Posters</h2>
    <%= render partial: 'presentations/condensed_list', locals: {presentations: @posters} %>  
  <% end %>
<% else %>
  <% if @presentations.any? or @minisymposia.any? %>
    <h2>Your submissions</h2>
    <%= render @presentations %>  
    <%= render @minisymposia %>  
    <hr/>
  <% end %>

  <%= render partial: 'description' %>  

  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'deadlines/minisymposium_submission' %>  
      <% if Deadline.can_propose?(:minisymposium) %>  
        <%= render partial: 'minisymposium_proposal' %>  
      <% end %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'deadlines/presentation_submission' %>  
      <% if Deadline.can_propose?(:presentation) %>  
        <%= render partial: 'presentation_proposal' %>  
      <% end %>
    </div>
  </div>
<% end %>


