<% if user_in_organizer_commettee? %>  
  <h2>Minisymposia: <small>(<%= @minisymposia.count %> to accept/refuse)</small> </h2>
  <%= ul_list(@minisymposia) %>  

  <h2>Presentations: <small>(<%= @presentations.count %> to accept/refuse)</small> </h2>
  <%= ul_list(@presentations) %>

  <h2>Posters: <small>(<%= @posters.count %> to accept/refuse)</small> </h2>
  <%= ul_list(@posters) %>
<% else %>
  <%= render partial: 'description' %>  
  <hr/>
  <% if @presentations.any? or @minisymposia.any? %>
    <h2>Your submissions</h2>
    <%= render @presentations %>  
    <%= render @minisymposia, with_presentations: true %>  
  <% end %>
<% end %>

