<div class="container">
<%= program_title('Submissions', 'envelope-o') %>  

<% if user_in_organizer_committee? %>  
  <% if @minisymposia %>  
    <h2>Minisymposia</h2>
    <%= render partial: 'conference_sessions/condensed_list', locals: {conference_sessions: @minisymposia} %>  
  <% end %>

  <% if @unassigned_presentations %>  
    <h2>Presentations <small>(unassigned)</small></h2>
    <%= render partial: 'presentations/condensed_list', locals: {presentations: @unassigned_presentations} %>  
  <% end %>

  <% if @posters %>  
    <h2>Posters <small>(unassigned)</small></h2>
    <%= render partial: 'presentations/condensed_list', locals: {presentations: @posters} %>  
  <% end %>
<% elsif current_user %>
  <% if @presentations.any? or @minisymposia.any? %>
    <% @presentations.each do |presentation| %>  
      <% if presentation.in_mono_conference_session? %>  
        <p>You are speaker in <%= t presentation.parent_class %> (<%= presentation.code %>) <%= presentation %></p>
      <% else %>
        <%= render presentation %>  
      <% end %>
      <%= render @minisymposia %>  
    <% end %>
  <% end %>
<% end %>
</div>

<div class="container">
  <p>
  SIAM requests that individuals limit themselves to giving <strong>one talk</strong> 
  (this does not apply to invited plenary speakers).<br/>
  The co-chairs of the organizing committee may make exceptions to this request.
  </p>

  <p>
  All submissions are subject to <strong>review</strong> and 
  <strong>final approval</strong> by the co-chairs.
  </p>

  <p>
  You are invited to contribute a presentation for this conference in one of the following formats:
  </p>
</div>

<div class="bg-colored">
  <div class="container">

    <h2>Minisymposia</h2>

    <%= render partial: 'minisymposia/description' %>  
    <%= render partial: 'deadlines/minisymposium_submission' %>  
    <% if current_user and Deadline.can_propose?(:minisymposium) %>  
      <%= render partial: 'minisymposium_proposal' %>  
    <% end %>
  </div>
</div>

<div class="bg-colored">
  <div class="container">

    <h2>Contributed Presentations<br/><small>in Lecture or Poster Format</small></h2>

    <%= render partial: 'contributed_sessions/description' %>
    <%= render partial: 'deadlines/presentation_submission' %>  
    <% if current_user and Deadline.can_propose?(:presentation) %>  
      <%= render partial: 'presentation_proposal' %>  
    <% end %>
  </div>
</div>


