<h1>Submissions</h1>

<%= render @presentations %>  
<%= render @minisymposia, with_presentations: true %>  

<p class="centered">
<%= link_to 'Submit Minisymposium Proposal', new_minisymposium_path, class: :big_button %>  
</p>

<p class="centered">
<%= link_to 'Submit Presentation Proposal', new_presentation_path, class: :big_button %>  
</p>

<p class="centered">
<%= link_to 'Submit Poster Proposal', new_presentation_path(poster: true), class: :big_button %>  
</p>
