<% if user_in_organizer_commettee? %>  
  <h2>Minisymposia: <small>(<%= @minisymposia.count %> to accept/refuse)</small> </h2>
  <%= ul_list(@minisymposia) %>  

  <h2>Presentations: <small>(<%= @presentations.count %> to accept/refuse)</small> </h2>
  <%= ul_list(@presentations) %>

  <h2>Posters: <small>(<%= @posters.count %> to accept/refuse)</small> </h2>
  <%= ul_list(@posters) %>
<% else %>
  <% if @presentations.any? or @minisymposia.any? %>
    <h2>Your submissions</h2>
    <%= render @presentations %>  
    <%= render @minisymposia %>  
    <hr/>
  <% end %>

  <%= render partial: 'description' %>  

  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'deadlines/minisymposium_submission' %>  
      <% if Deadline.can_propose?(:minisymposium) %>  
        <%= render partial: 'minisymposium_proposal' %>  
      <% end %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'deadlines/presentation_submission' %>  
      <% if Deadline.can_propose?(:presentation) %>  
        <%= render partial: 'presentation_proposal' %>  
      <% end %>
    </div>
  </div>
<% end %>


