<% @no_container = true %>

<div class="container">
<%= program_title('Submissions', 'envelope-o') %>  

<% if current_user %>
  <% if @presentations.any? or @minisymposia.any? %>
    <% @presentations.each do |presentation| %>  
      <% if presentation.in_mono_conference_session? %>  
        <p class="alert alert-success">You are speaker in <%= t presentation.parent_class %> (<%= presentation.code %>)
        <%= link_to presentation, presentation %></p>
      <% else %>
        <%= render presentation %>  
      <% end %>
    <% end %>
    <%= render @minisymposia %>  
  <% end %>
<% end %>
</div>

<div class="container">
  <div class="bg-transparent">
    <p>
    SIAM requests speakers submit <strong>only one lecture presentation</strong> for the conference, 
    either a minisymposium or contributed lecture (this does not apply to invited plenary speakers).
    Poster submissions are not restricted.
    The co-chairs of the organizing committee may make exceptions to this request to allow two talks per person.<br/>
    </p>

    <p>
    All submissions are subject to <strong>review</strong> and 
    <strong>final approval</strong> by the co-chairs.
    </p>

    <p>You are invited to contribute a presentation for this conference in one of the following formats:
    </p>
  </div>
</div>

<div class="bg-colored-first">
  <div class="container">

    <h2>Minisymposia</h2>

    <%= render partial: 'minisymposia/description' %>  
    <%= render partial: 'deadlines/minisymposium_submission' %>  
    <%= render partial: 'minisymposium_proposal' %>  
  </div>
</div>

<div class="bg-colored-second">
  <div class="container">

    <h2>Contributed Presentations</h2>

    <%= render partial: 'contributed_sessions/description' %>
    <%= render partial: 'deadlines/presentation_submission' %>  
    <%= render partial: 'presentation_proposal' %>  
  </div>
</div>


