<%= program_title('Keywords', 'key') %>  

<ul class="tag_admin_list">
  <% @tags.each do |tag| %>  
    <li>
      <div class="panel <%= tag.global ? 'panel-info' : 'panel-warning' %>">
        <div class="panel-heading">
          <%= tag %>
          <span class="pull-right">
            <%= link_to_edit [:edit, tag] %>  
            <%= link_to_delete tag %> 
          </span>
        </div>
        <div class="panel-body">
          <% if (num = tag.minisymposia.count) > 0 %>  
            <%= link_to "#{num} minisymposia", admin_submissions_path(tag_id: tag.id, minisymposium: 1) %>  
          <% elsif (num = tag.presentations.count) > 0 %>
            <%= link_to "#{num} presentations", admin_submissions_path(tag_id: tag.id, presentation: 1) %>  
          <% else %>
              -
          <% end %>
        </div>
    </li>
  <% end %>
</ul>

<%= link_to_new 'Add new keyword', new_tag_path %>  
