<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%# <h1> %>
      <%# The conference has finished.<br/> %>
      <%# <small>Thank you for your participation and see you again in Bologna!</small> %>
    <%# </h1> %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2>Sign in <br/><small>to SIAM-IS 18</small></h2>
        </div>
        <div class="panel-body">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false, hint: link_to("Forgot your password?", new_password_path(resource_name)) %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <%= f.submit "Sign in" %> 
        </div>
      </div><!-- panel -->
    <% end %>

    <p class="alert alert-info">
      For every problem please send a mail to <%= mail_to_siam %>.
    </p>
    <%= render "devise/shared/links" %>

  </div>
</div>
