<h1>Paper submission</h1>

<p class="alert alert-info">Please submit a paper for: <strong>&ldquo;<%= @presentation %>&rdquo;</strong>.</p>

<div class="alert alert-success">
  <%= simple_form_for [@presentation, @paper] do |f| %>
    <%= f.input :paperfile, as: :hidden, input_html: {value: @paper.cached_paperfile_data} %>
    <%= f.input :paperfile, as: :file %>
    <%= f.submit 'Submit paper' %> - <%= link_to_back presentation_path(@presentation) %>  
  <% end %>
</div>

