<%= program_title('Expected Gain for Registrations', 'euro') %> 

<% money = 0 %>  
<% participants = 0 %>  

<div class="alert alert-info"><%= Role.speakers_and_organizers.map(&:user_id).uniq.count %> speakers/organizers.</div>

<table class="table">
  <% @totals.each do |key, vals| %>  
    <tr>
      <td class="number"><%= vals[:total] %> &euro;</td>
      <td class="number"><%= vals[:number] %></td>
      <th><%= t key %></th>
      <% money += vals[:total] %>  
      <% participants += vals[:number]  %>  
    </tr>
  <% end %>
  <tr>
    <th class="number"><%= money %>&euro;</th>
    <td class="number"><%= participants %></td>
    <th>Total speakers/organizers</th>
  </tr>
</table>





