<%= program_title('Expected Gain for Registrations', 'euro') %> 

<% money = 0 %>  
<table class="table">
  <% @totals.each do |key, vals| %>  
    <tr>
      <td class="number"><%= vals[:total] %> &euro;</td>
      <td class="number"><%= vals[:number] %></td>
      <th><%= t key %></th>
      <% money += vals[:total] %>  
    </tr>
  <% end %>
  <tr>
    <th class="number"><%= money %>&euro;</th>
  </tr>
</table>





