<%= program_title('Conference Registrations', 'euro') %>  

<p>
  <%= link_to 'Expected Gain', expected_conference_registrations_path, class: "btn btn-success" %>  
</p>

<% tot = euro = 0 %>  

<table class="table table-striped table-condensed">
  <tr>
    <th>User</th>
    <th>amount</th>
    <th>payment id</th>
    <th>identification</th>
    <th>verified</th>
    <th>date</th>
    <th>Notes</th>
    <th></th>
  </tr>
  <% @conference_registrations.each do |conference_registration| %>  
    <% user = conference_registration.user or next %>  
    <% tot += 1 %>  
    <tr>
      <th title="<%= user.email %>"><%= user_modal_link(user) %></th>
      <% if payment = conference_registration.payment %>  
        <td><%= payment.amount %> &euro;</td>
        <% euro += payment.amount %>  
        <td><%= payment.payment_id %></td>
        <td><%= payment.shop_id %></td>
        <td><%= payment.verified %></td>
        <td><%= l payment.created_at %></td>
        <td>
          <%= l(payment.single_day, format: :day) if payment.single_day %>  
          <%= 'student' if payment.student %>  
        </td>
      <% else %>
        <td colspan="6"> - </td>
      <% end %>
      <td>
        <%= link_to icon('file-pdf-o'), conference_registration_path(conference_registration, format: :pdf) %>  
      </td>
    </tr>
  <% end %>
</table>

<dl class="dl-horizontal">
  <dt>Users:</dt>
  <dd><%= tot %></dd>
  <dt>Euro: </dt>
  <dd><%= euro %> &euro;</dd>
</dl>
