<%= program_title('Conference Registrations', 'euro') %>  

<% tot = 0 %>  

<table class="table table-striped table-condensed">
  <tr>
    <th colspan="2">User</th>
    <th>amount</th>
    <th>payment id</th>
    <th>identification</th>
    <th>verified</th>
    <th>date</th>
    <th>Notes</th>
  </tr>
  <% @conference_registrations.each do |conference_registration| %>  
    <tr>
      <th><%= user_modal_link(conference_registration.user) %></th>
      <td><%= conference_registration.user.affiliation %></td>
      <td><%= conference_registration.payment.amount %> &euro;</td>
      <% tot += conference_registration.payment.amount %>  
      <td><%= conference_registration.payment.payment_id %></td>
      <td><%= conference_registration.payment.shop_id %></td>
      <td><%= conference_registration.payment.verified %></td>
      <td><%= l conference_registration.payment.created_at %></td>
      <td>
        <%= l(conference_registration.payment.single_day, format: :day) if conference_registration.payment.single_day %>  
        <%= 'student' if conference_registration.payment.student %>  
      </td>
    </tr>
  <% end %>
</table>

<p>Total: <%= tot %> &euro;</p>
