<%= program_title('Registration', 'credit-card') %>  

<div class="container">
  <% if Deadline.registration_open? %>  
    <p>Early registration deadline – <strong><%= l Deadline.pre_registration_end, format: :long %></strong>.</p>
    <p>All advance registration payments are to be made by credit card.  All fees are quoted in Euros.</p>
  <% else %>
    <p class="alert alert-warning">Registrations start at <strong><%= l Deadline.pre_registration_start %></strong>.</p>
  <% end %>
</div>

<div class="bg-colored">
  <div class="container">
    <%= render 'payments/list' %>  
    <%= render 'payments/notes' %>
  </div>
</div>

<% if current_user %>  
  <div class="bg-colored">
    <div class="container">
      <h3><%= big_icon :user %> Check your data!</h3>
      <%= render current_user %>  

      <% if @current_user_conference_registration %>
        <div class="alert alert-success">
          You are already registerd to the Siam-is 2018 conference.
        </div>
      <% elsif current_user.can_register? %>  
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3>Payment</h3>
          </div>
          <div class="panel-body">
            <p class="centered">
            <%= link_to new_payment_path, class: "big_pay_button" do %>  
              PAY <br/><strong><%= @price_to_pay_and_reason[0] %> &euro;</strong><br/> for Registration
              <br/><small>(<%= @price_to_pay_and_reason[1] %>)</small>
            <% end %>
            </p>
            <p class="centered">
            or<br/>
            <%= link_to new_payment_path(single_day: 1), class: "button" do %>  
              PAY <br/><strong><%= @single_day_price_to_pay_and_reason[0] %> &euro;</strong><br/> for One Day Registration
            <% end %>
            </p>
            <hr/>
            <p>The registration includes the social dinner (Wednesday, June 6th). <br/>
            In case you want to invite other people you (the cost of the dinner is 65,00 euros per person) please select the number of guests in <%= link_to 'your personal data page', edit_user_path(current_user) %>. 
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

