<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2><%= big_icon :euro %> Registration Fees</h2>
      </div>
      <div class="panel-body">
        <%= render 'payments/list' %>  
      </div>
      <div class="panel-footer">
        <%= render 'payments/notes' %>
      </div><!-- footer -->
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h2><%= big_icon :user %> Check your data!</h2>
      </div>
      <div class="panel-body">
        <%= render current_user %>  
      </div>
    </div>

    <% if current_user.can_register? %>  
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2>Payment</h2>
        </div>
        <div class="panel-body">
          <p class="centered">
          <%= link_to new_payment_path, class: "big_pay_button" do %>  
            PAY <br/><strong><%= @price_to_pay_and_reason[0] %> &euro;</strong><br/> for Registration
            <br/><small>(<%= @price_to_pay_and_reason[1] %>)</small>
          <% end %>
          </p>
          <p class="centered">
          or<br/>
          <%= link_to new_payment_path(single_day: 1), class: "button" do %>  
            PAY <br/><strong><%= @single_day_price_to_pay_and_reason[0] %> &euro;</strong><br/> for One Day Registration
          <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<p class="alert alert-warning">
  If you do not join SIAM before you register, SIAM allows attendees who pay the non-member rate to apply the difference between it and the member rate toward buying an individual membership.  We will continue to offer this option and expand the offer to those who pay the non-member minisymposia organizer or speaker rate. <br/>
Please visit <%= link_to 'http://www.siam.org/membership', 'http://www.siam.org/membership' %> for information about <strong>joining SIAM</strong>.
</p>

