<%= program_title('Registration', 'info') %>  

<div class="row">
  <div class="col-md-4 alert alert-success centered">
    <% if @conference_registration %>  
      <h2>
        <%= icon('check-circle', size: 80) %> <br/>
        <%= @conference_registration.user.cn %><br/> 
        is registered to<br/> SIAM-IS18 Conference.<br/>
      </h2>
    <% end %>
    <% if @payment %>  
      <p>
      Payment: <%= @payment.amount %> &euro; (<%= l @payment.created_at %>).
      <% if @conference_registration.single_day %>  
        <br/> You are registered for the day <strong><%= l @conference_registration.single_day %></strong>.
      <% end %>
      </p>
    <% end %>
  </div>

  <div class="col-md-8">
    <h3>Registration Data</h3>
    <%= render current_user %>  
  </div>
</div>



