<%= program_title('Registration', 'info') %>  

<div class="row">
  <div class="col-md-4">
    <% if @conference_registration %>  
      <h3>
        <%= @conference_registration.user.cn %><br/> 
        is registered <br/>
        since <%= l @conference_registration.created_at, format: :day %>
      </h3>
    <% end %>
    <% if @payment %>  
      <p>
      Payment: <%= @payment.amount %> &euro; (<%= l @payment.created_at %>).
      <% if @conference_registration.single_day %>  
        <br/> You are registered for the day <strong><%= l @conference_registration.single_day %></strong>.
      <% end %>
      </p>
    <% end %>
  </div>

  <div class="col-md-8">
    <h3>Registration Data</h3>
    <%= render current_user %>  
  </div>
</div>



