<%= title_with_conference('Your are registered at') %>  

<div class="row">
  <div class="col-md-6">
    <h3>Payments</h3>
    You have paid <%= @payment.amount %> &euro; in date <%= l @payment.created_at %>  
</div>
<div class="col-md-6">
  <h3>Your data</h3>
  <%= render current_user %>  
  <%= link_to 'modify', edit_user_path(current_user), class: :button %>  
</div>
</div>



