<table class="table table-condensed centered" style="max-width: 700px; margin-top: 40px;">
<tr>
  <th></th>
  <th>Early registration <br/><small>(before <%= l Deadline.pre_registration_end + 1.day %>)</small></th>
  <th>On-site registration <br/><small>(after <%= l Deadline.pre_registration_end %>)</small></th>
</tr>
<% Fee.prices.each do |name, amounts| %>  
  <tr>
    <th>
      <%= I18n.t name %>
      <%= '*'  if name == :siam_member %>  
      <%= '**' if name == :student %>  
    </th>
    <td><%= amounts[0] %> &euro;</td>
    <td><%= amounts[1] %> &euro;</td>
  </tr>
<% end %>
</table>

<p><em>All advance registration payments are to be made by credit card.  All fees are quoted in Euros.</em></p>
<p>(*)  IEEE, SIMAI and GAMM members are eligible to register at the SIAM Member rate.</p>
<p>(**) Students must show a current student id upon checking in at the SIAM registration desk. Student registration is available for undergraduate and graduate students ONLY. The student rate is not available to post-doctorates.</p>

<%= icon('info-circle', size: 36) %> &nbsp;
Please visit <%= link_to 'http://www.siam.org/membership', 'http://www.siam.org/membership' %> for information about <strong>joining SIAM</strong>.

