<p>Pre-registration deadline – <strong><%= l Deadline.pre_registration, format: :long %></strong>.

<table class="table table-striped table-condensed">
<tr>
<th></th>
<th>Pre-registration <br/><small>(before <%= l Deadline.pre_registration + 1.day %>)</small></td>
<th>On-site registration <br/><small>(after <%= l Deadline.pre_registration %>)</small></td>
</tr>
<% Fee.prices.each do |name, amounts| %>  
  <tr>
  <th><%= I18n.t name %></th>
  <td><%= amounts[0] %> &euro;</td>
  <td><%= amounts[1] %> &euro;</td>
  </tr>
<% end %>
</table>

