<div>
<% if Deadline.registration_open? %>  
  <p>Pre-registration deadline – <strong><%= l Deadline.pre_registration_end, format: :long %></strong>.</p>
  <p>All advance registration payments are to be made by credit card.  All fees are quoted in Euros.</p>
<% else %>
  <p class="alert alert-warning">Registrations start at <strong><%= l Deadline.pre_registration_start %></strong>.</p>
<% end %>
</div>

<table class="table table-condensed">
  <tr>
    <th></th>
    <th>Pre-registration <br/><small>(before <%= l Deadline.pre_registration_end + 1.day %>)</small></td>
    <th>On-site registration <br/><small>(after <%= l Deadline.pre_registration_end %>)</small></td>
  </tr>
  <% Fee.prices.each do |name, amounts| %>  
    <tr>
      <th>
        <%= I18n.t name %>
        <%= '*'  if name == :siam_member %>  
        <%= '**' if name == :student %>  
      </th>
      <td><%= amounts[0] %> &euro;</td>
      <td><%= amounts[1] %> &euro;</td>
    </tr>
  <% end %>
</table>

