<table class="table table-condensed centered" style="max-width: 800px; margin-top: 40px;">
  <tr>
    <th></th>
    <th>Pre-registration <br/><small>(before <%= l Deadline.pre_registration_end + 1.day %>)</small></th>
    <th>On-site registration <br/><small>(after <%= l Deadline.pre_registration_end %>)</small></th>
  </tr>
  <% Fee.prices.each do |name, amounts| %>  
    <tr>
      <th>
        <%= I18n.t name %>
        <%= '*'  if name == :siam_member %>  
        <%= '**' if name == :student %>  
      </th>
      <td><%= amounts[0] %> &euro;</td>
      <td><%= amounts[1] %> &euro;</td>
    </tr>
  <% end %>
</table>


