<div class="row">
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h1><%= big_icon :euro %>  Payment</h1> 
    </div>
    <div class="panel-body">
      <p><%= t(:credit_cards) %></p>
      <p><%= t(:bank_security) %></p>
      <%= render 'payments/social_dinner_invitation' %>  
      <div class="centered">
        <%= form_tag payments_path do %>  
          <% if @single_day %>  
            <p>
            <label>Choose day</label><br/>
              <%= select("payment", "single_day", Schedule.days_array_for_select, {include_blank: false}) %>
            </p>
          <% end %> 
          <input type="submit" value="PAY <%= @price_to_pay_and_reason[0] %> &euro; for Registration" /> <br/>
          (<%= @price_to_pay_and_reason[1] %>. <%= link_to 'Change your data', edit_user_path(current_user) %>)
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>


