<% what = @conference_session || @presentation %>  

<h1>Add <%= @role.class %></h1>

<p class="alert alert-info">
  Please submit e-mail for <%= @role.class.to_s.downcase %> of &ldquo;<em><%= what %></em>&rdquo;.<br/>
  If the user is not in registered you will be also asked for name, surname and affiliation.
</p>

<%= simple_form_for [what, @role] do |role| %>  
  <%= role.error_notification %>  

  <% uncorrect_email = (@role.email.blank? or @role.errors[:email].any?) %> 

  <%= role.input :email, readonly: (! uncorrect_email), type: "search", input_html: { id: 'role_email' } %> 

  <% unless uncorrect_email or @role.errors[:email].any? %> 
    <p>
    We have no information about the user with the mail &ldquo;<em><%= @role.email %></em>&rdquo;.<br/>
      Please submit the following info:
    </p>
    <%= role.input :name, required: true %>  
    <%= role.input :surname, required: true %>  
    <%= role.input :affiliation, required: true %>  
  <% end %>
  <%= role.submit "Add #{@role.class}" %> - <%= link_to_back what %>  
<% end %>

<%= typeahead_emails_init('role_email') %>  

