<ul class="list-group">
<% conference_sessions.order('schedules.start, conference_sessions.name').each do |conference_session| %>
  <li class="list-group-item">
    <div class="left-code"><%= conference_session.code %></div>
    <div>
      <%= link_to conference_session, conference_session %><br/>
      <small><%= conference_session.organizers_label %>:  <%= show_roles(conference_session.organizers) %></small> 
    </div>
    <% if conference_session.schedule %>  
      <div style="text-align: right">
        <%= conference_session.schedule %>
      </div>
    <% end %>
  </li>
<% end %>
</ul>


