<% 
  owner         = current_user_owns?(conference_session)
  presentations = conference_session.presentations.includes(authors: :user).order(:number).all
  organizers    = conference_session.organizers.includes(:user).order('users.surname').all 
  missing_presentations = conference_session.is_a?(Minisymposium) && ((! conference_session.accepted) and owner and (presentations.size < 4))
  condensed ||= false
%>  

<div class="conference_session_panel <%= 'condensed_panel' if condensed %>" id="<%= html_id(conference_session) %>">
  <%= panel_heading(conference_session) %>  

  <div class="panel-body">
    <div class="description"><p><%= conference_session.description %></p></div>

    <dl class="dl-horizontal">
      <dt><%= conference_session.organizers_label %>:</dt>
      <% organizers.each do |organizer| %>  
        <dd>
          <%= show_role(organizer) %>
          <%= link_to_delete organizer_path(organizer) if (owner and organizer.user != current_user) %>  
        </dd>
      <% end %>
    </dl>

    <%= dl_presentations(presentations) %>  

    <%= render(partial: 'ratings/dl_list', locals: { what: conference_session }) %>  

    <dl class="dl-horizontal">
      <dt><%= t 'Tags' %>:</dt>
      <dd><%= conference_session.all_tags %></dd>
    </dl>

    <%= missing_presentations_alert if missing_presentations %>  
  </div>

  <div class="panel-footer footer-actions">
    <%= panel_actions(conference_session) %>  
    <%= schedule(conference_session) %>  
  </div>
</div>

