<%# Create and edited by organizer commettee only (see minisymposium for complex session) %> 

<div class="conference_session_panel">
  
  <%= panel_heading(conference_session) %>  

  <div class="panel-body">
    <em><%= conference_session.description %></em>
    <dl class="dl-horizontal">
      <dt>Presentations:</dt>
      <% conference_session.presentations.includes(authors: :user).order(:number).each do |presentation| %>  
        <dd><%= link_to presentation, presentation %></dd>
      <% end %>
    </dl>
  </div>

  <div class="panel-footer footer-actions">
    <%= panel_actions(conference_session) %>  
    <%= schedule(conference_session) %>  
  </div>
</div>




