<% 
  current_part = (conference_session.parts > 1) ? params[:part].to_i : nil
  owner = current_user_owns?(conference_session)
  presentations_in_parts = conference_session.presentations_in_parts
  schedules_in_parts = conference_session.schedules.inject({}) {|res, s| res[s.part] = s; res}
  organizers = conference_session.organizers.includes(:user).order('users.surname').all 
  missing_presentations = conference_session.is_a?(Minisymposium) && ((! conference_session.accepted) and owner and (presentations_in_parts[1].size < 4))
  condensed ||= false
%>  

<div class="conference_session_panel <%= 'condensed_panel' if condensed %>" id="<%= html_id(conference_session) %>">
  <%= panel_heading(conference_session) %>  

  <div class="panel-body">
    <p class="description"><%= conference_session.description %></p>

    <% presentations_in_parts.each do |part, presentations| %>
      <div class="row">
        <div class="col-md-4">
          <%= interest_link_span(conference_session, part) %>
          <% if conference_session.parts > 1 %> 
            <span class="session_part"><strong>PART <%= part.to_i %></strong></span>
          <% else %>
            &nbsp;
          <% end %>
        </div>
        <div class="col-md-8" style="text-align: right;">
          <%= icon('calendar') + (schedules_in_parts[part] || I18n.t(:schedule_to_be_decided)) %>
        </div>
      </div>
      <% to_highlight = (current_part && current_part == part) %>  
      <%= list_presentations(presentations, conference_session, to_highlight) %>
    <% end %>

    <dl class="dl-horizontal">
      <dt><%= conference_session.organizers_label %>:</dt>
      <% organizers.each do |organizer| %>  
        <dd>
          <%= show_role(organizer) %>
          <%= link_to_delete organizer_path(organizer) if (owner and organizer.user != current_user) %>  
        </dd>
      <% end %>
    </dl>

    <%= render(partial: 'ratings/dl_list', locals: { what: conference_session }) %>  

    <dl class="dl-horizontal">
      <dt><%= t 'Tags' %>:</dt>
      <dd><%= conference_session.all_tags %></dd>
    </dl>

    <%= missing_presentations_alert if missing_presentations %>  
  </div>

  <div class="panel-footer footer-actions">
    <%= panel_actions(conference_session) %>  
  </div>
</div>

<%= javascript_tag do %>  
  $(".my-interest").popover({
    trigger: 'hover', 
    content: 'Remove from watchlist.',
  });
  $(".not-my-interest").popover({
    trigger: 'hover', 
    content: 'I am interested. Add to watchlist.',
  });
<% end %>
