<%# Create and edited by organizer committee only (see minisymposium for complex session) %> 
<% 
    owner         = current_user_owns?(conference_session)
    presentations = conference_session.presentations.includes(authors: :user).order(:number).all
    organizers    = conference_session.organizers.includes(:user).order('users.surname').all 
%>  

<div class="conference_session_panel">
  
  <%= panel_heading(conference_session) %>  

  <div class="panel-body">
    <em><%= conference_session.description %></em>

    <dl class="dl-horizontal">
      <dt><%= conference_session.organizers_label %>:</dt>
      <% conference_session.organizers.each do |organizer| %>  
        <dd>
        <%= show_role(organizer) %>
        <%= link_to_delete organizer_path(organizer) if (owner and organizer.user != current_user) %>  
        </dd>
      <% end %>
    </dl>

    <%= dl_presentations(presentations) %>  
  </div>

  <div class="panel-footer footer-actions">
    <%= panel_actions(conference_session) %>  
    <%= schedule(conference_session) %>  
  </div>
</div>




