<div class="<%= conference_session_panel_class(conference_session) %>">

<%= panel_heading(conference_session) %>  

<div class="panel-body">
  <p><strong>Speaker</strong>: <%= show_roles(conference_session.authors) %></p>
  <p><em><%= conference_session.description %></em></p>
  <p><strong><%= conference_session.organizers_label %>  Chair:</strong> <%= show_roles(conference_session.organizers) %></p>
</div>
<div class="panel-footer footer-actions">
  <%= panel_actions(conference_session) %>  
  <%= schedule(conference_session) %>  
</div>
</div>





