<div class="<%= conference_session.is_a?(Plenary) ? 'plenary' : 'minitutorial' %>_panel">
<div class="panel-heading">
  <h3 class="panel-title">
    <%= conference_session.code %>  <%= conference_session.name %>
  </h3>
</div>
<div class="panel-body">
  <p><strong>Speaker</strong>: <%= conference_session.speakers %></p>
  <p><em><%= conference_session.description %></em></p>
  <p><strong>Chair:</strong> <%= conference_session.chairs.map(&:to_s).join(', ') %></p>
</div>
<div class="panel-footer footer-actions">
  <%= organizer_commette_actions(conference_session) %>  
  &nbsp; <span class="pull-right"><%= conference_session.schedule || 'schedule to be decided' %></span>
</div>
</div>





