<% organizers = conference_session.organizers.all %>  
<% speaker    = conference_session.speaker %>  

<div class="<%= conference_session_panel_class(conference_session) %>">
  <div class="row">
  <div class="col-md-4">  
    <% conference_session.authors.each do |author| %>
      <div class="speaker-image" style="text-align: center">
        <%= user_photo(author.user) %>  
      </div>
      <div class="speaker_name">
        <h3><%= user_modal_link(author.user) %></h3><br/>
        <small><%= author.user.affiliation %></small>
      </div>
    <% end %>
  </div>

  <div class="col-md-8">
    <div class="title">
      <h4><%= conference_session %>  <span class="panel-header-code"><%= conference_session.code %></span></h4>
    </div>

    <p class="mono_conference_session_content">
    <% if conference_session.description.blank? %>  
      <%= speaker.user.biography if speaker %>
    <% else %>
      <%= conference_session.description %>
    <% end %>
    </p>
    <% if organizers.any? %>  
      <p><strong><%= conference_session.organizers_label %>:</strong> <%= show_roles(conference_session.organizers) %></p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-4 footer-actions">
    <%= panel_actions(conference_session) %>  
    <%= schedule(conference_session) %>  
  </div>
</div>
</div>





