<% organizers = conference_session.organizers.all %>  
<% speaker    = conference_session.speaker %>  

<div class="<%= conference_session_panel_class(conference_session) %>">

<%= panel_heading(conference_session) %>  

<div class="panel-body row">
  <div class="col-md-4">  
    <% if speaker %>
      <div class="speaker-image" style="text-align: center">
        <% if asset_exist?(speaker.photo_asset) %>  
          <%= image_tag speaker.photo_asset, width: 250 %>  
        <% else %>
          <i class="fa fa-user-circle" style="font-size: 160px; margin: 20px;" aria-hidden="true"></i>
        <% end %>
      </div>

      <p class="speaker-name centered">
      <%= user_modal_link(speaker.user) %><br/>
      <small><%= speaker.user.affiliation %></small>
      </p>
    <% end %>
  </div>

  <div class="col-md-8">
    <p>
    <em>
      <% if conference_session.description.blank? %>  
        <%= speaker.user.biography if speaker %>
      <% else %>
        <%= conference_session.description %>
      <% end %>
    </em>
    </p>
    <% if organizers.any? %>  
    <p><strong><%= conference_session.organizers_label %>:</strong> <%= show_roles(conference_session.organizers) %></p>
    <% end %>
  </div>
</div><!-- body -->

<div class="panel-footer footer-actions">
  <%= panel_actions(conference_session) %>  
  <%= schedule(conference_session) %>  
</div>

</div>





