<% organizers = conference_session.organizers.all %>  
<% authors    = conference_session.authors.includes(:user).order('users.surname, users.name') %>  

<div class="<%= conference_session_panel_class(conference_session) %>" id="<%= html_id(conference_session) %>">
  <div class="row">
  <div class="col-md-4 mono_conference_session_speaker">  
    <% authors.each do |author| %>
      <div class="speaker-image" style="text-align: center">
        <%= user_photo(author.user) %>  
      </div>
      <div class="speaker_name">
        <h3><%= user_modal_link(author.user) %></h3>
        <small><%= author.user.affiliation %></small>
      </div>
    <% end %>
    <% if conference_session.id == 23 %> 
      <hr/>
      <p class="centered">with</p>
      <h4>Carlo de Franchis and Enric Meinhardt-Llopis</h4><br/>
      <p class="centered"><small>(École Normale Supérieure Paris-Saclay)</small></p>
      </p>
    <% end %>
  </div>

  <div class="col-md-8">
    <div class="title">
      <h4><%= conference_session.name %> <span class="panel-header-code"><%= conference_session.code %></span></h4>
    </div>

    <div class="mono_conference_session_content">
    <% if conference_session.description.blank? %>  
      <% authors.each do |author| %>  
        <p><%= author.user.biography %></p>
      <% end %>
    <% else %>
      <p><%= conference_session.description %></p>
    <% end %>
    </div>

    <% if organizers.any? %>  
      <p><strong><%= conference_session.organizers_label %>:</strong> <%= show_roles(conference_session.organizers) %></p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-4 footer-actions">
    <p>&nbsp;<%= show_schedule(conference_session) %></p>
    <p><%= panel_actions(conference_session) %> </p>
  </div>
</div>
</div>





