<p class="alert alert-success">Current presentations in "<%= @conference_session.name %>":</p>

<%= form_tag ordering_conference_session_path(@conference_session) do |f| %>  
  <% many = 1..@actual_presentations.count %>  
  <ul class="list-group">
    <% @actual_presentations.each do |presentation| %>  
      <li class="list-group-item">
        <div class="pull-left" style="margin-right: 20px">
          <%= select_tag "order[#{presentation.id}]", options_for_select(many, presentation.number) %>
        </div>

        <%= link_to presentation, presentation %>  

        <div class="pull-right">
          <%= link_to icon('minus-circle') + ' remove', remove_conference_session_presentation_path(@conference_session, presentation), method: :put, title: 'remove from session' %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= submit_tag 'Save order' %> - <%= link_to_back @conference_session %>  
<% end %>

<h2>Presentations to add:</h2>
<ul class="list-group">
  <% @available_presentations.each do |presentation| %>  
    <li class="list-group-item">
      <%= link_to presentation, presentation %>  
      <span class="pull-right">
        <%= link_to icon('plus-circle') + ' add', add_conference_session_presentation_path(@conference_session, presentation), method: :put, title: 'add to session' %> 
      </span>
    </li>
  <% end %>
</ul>

<%= javascript_tag do %>  
  $(document).ready(function(){
    $("select").change(function() {
      $(this).parent("form").submit();
    })
  });
<% end %>
