<h1><%= @conference_session %></h1>

<div class="row">
  <div class="col-md-6">
    <h2>Current presentations:</h2>
    <ul>
      <% @conference_session.presentations.each do |presentation| %>  
        <li>
          <%= presentation %>  
          <%= link_to icon('minus') + 'remove', remove_conference_session_presentation_path(@conference_session, presentation), method: :put, title: 'remove from session' %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Other presentations to add:</h2>
    <ul>
      <% Presentation.unassigned.each do |presentation| %>  
        <li>
          <%= presentation %>  
          <%= link_to icon('plus') + ' add', add_conference_session_presentation_path(@conference_session, presentation), method: :put, title: 'add to session' %> 
        </li>
      <% end %>
    </ul>
  </div>
</div>
