<div class="minitutorial_panel">
<div class="panel-heading">
  <h2>
    <%= minitutorial.name %><br/>
    <small><%= minitutorial.schedule %></small>
  </h2>
  <h3><%= minitutorial.speakers %></h3>
  <p>Chair: <%= minitutorial.chairs.map(&:to_s).join(', ') %></p>
</div>
<div class="panel-body">
  <%= minitutorial.description %>  
</div>
<% if user_in_organizer_commettee? %>  
  <div class="panel-footer">
    <%= link_to_edit2 'Edit', [:edit, minitutorial] %>  
    <%= link_to icon('clock-o') + ' schedule',   new_conference_session_schedule_path(minitutorial), class: :button %>  
  </div>
<% end %>
</div>




