<%= title(@conference_session) %>  

<div class="conference_session-description">
  <em><%= @conference_session.description_or_abstract %></em>
</div>

<p>
  <%= @conference_session.schedule %>  
</p>

<h2>Presentations</h2>

<%= render @presentations, short: true %>  

<% if current_user.organizer?(@conference_session) %>  
    <p class="centered">
    <%= link_to icon('file-audio-o') + ' add Presentation', new_minitutorial_presentation_path(@conference_session), class: :big_button %>  
    </p>
    <p class="centered">
    <%= link_to icon('pencil')  + ' edit', [:edit, @conference_session], class: :big_button %>  
    </p>
    <p class="centered">
    <%= link_to icon('clock-o') + ' schedule', new_conference_session_schedule_path(@conference_session), class: :big_button %>  
    </p>
  </div>
<% end %>



