<%= title(@session) %>  

<div class="session-description">
  <em><%= @session.description_or_abstract %></em>
</div>

<p>
  <%= @session.schedule %>  
</p>

<h2>Presentations</h2>

<%= render @presentations, short: true %>  

<% if current_user.organizer?(@session) %>  
    <p class="centered">
    <%= link_to icon('file-audio-o') + ' add Presentation', new_minitutorial_presentation_path(@session), class: :big_button %>  
    </p>
    <p class="centered">
    <%= link_to icon('pencil')  + ' edit', [:edit, @session], class: :big_button %>  
    </p>
    <p class="centered">
    <%= link_to icon('clock-o') + ' schedule', new_session_schedule_path(@session), class: :big_button %>  
    </p>
  </div>
<% end %>



