<div class="contributed_session_panel">
<div class="panel-heading">
  <h2><%= contributed_session.name %></h2>
</div>
<div class="panel-body">
  <%= contributed_session.description %>  
  <dl class="dl-horizontal">
    <dt>Presentations:</dt>
    <% contributed_session.presentations.includes(authors: :user).each do |presentation| %>  
      <dd><%= render presentation, one_line: true %></dd>
    <% end %>
  </dl>
</div>
<div class="panel-footer">
  <% if current_user_owns?(contributed_session) %>  
    <%= link_to icon('pencil')  + ' edit', [:edit, contributed_session], class: :button %>  
    <%= link_to icon('clock-o') + ' schedule', new_conference_session_schedule_path(contributed_session), class: :button %>  
  <% end %>
  <% if user_in_organizer_commettee? %>  
    <%= link_to icon('pencil')  + ' manage presentations', manage_presentations_conference_session_path(contributed_session), class: :button %>  
  <% end %>
  &nbsp; <span class="pull-right"><%= contributed_session.schedule || 'schedule to be decided' %></span>
</div>
</div>



