<%= program_title('Contributed Presentations', 'users') %>  

<% if user_in_organizer_committee? %>  
  <p class="centered"><%= link_to 'Create Contributed Session', new_contributed_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'description' %>  
<%= render partial: 'deadlines/presentation_submission' %>  

<%= render @contributed_sessions, condensed: true %>

