<%= program_title('Contributed Presentations', 'users') %>  

<% if user_in_organizer_committee? %>  
  <p class="centered"><%= link_to 'Create Contributed Session', new_contributed_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'contributed_sessions/description' %>  
<%= render partial: 'deadlines/presentation_submission' %>  

<%# <%= render @contributed_sessions, condensed: true %>

<% if false and @contributed_sessions.empty? %>  
  <h2>List of accepted contributed presentations</h2>

  <ul class="list-group">
    <% cache 'presentations_list_cache' do %>
      <% Presentation.not_poster.unassigned.order(:name).each do |presentation| %>  
        <li class="list-group-item">
          <%= link_to presentation.name, presentation, remote: true %> 
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
