<%= program_title('Contributed Presentations', 'users') %>  

<% if user_in_organizer_committee? %>  
  <p class="centered"><%= link_to 'Create Contributed Session', new_contributed_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'contributed_sessions/description' %>  
<%# <%= render partial: 'deadlines/presentation_submission' %1> %>  

<div class="list-group">
  <% cache 'conference_sessions_list_cache' do %>
    <% @conference_sessions.each do |cs| %>
      <div class="list-group-item">
        <strong><%= link_to cs, cs, remote: true %></strong></br>
        <small><span style="margin-left: 2em"><%= show_roles(cs.organizers) %></span> <%= show_schedule(cs) %></small>
      </div>
    <% end %>
  <% end %>
</div>

<h2>List of accepted contributed presentations</h2>

<div class="list-group">
  <% cache 'presentations_list_cache' do %>
    <% Presentation.at_contributed.order(:name).each do |presentation| %>  
      <%= link_to presentation.name, presentation, remote: true, class: 'list-group-item' %> 
    <% end %>
  <% end %>
</div>
