<%= program_title('Contributed Presentations', 'users') %>  

<% if user_in_organizer_committee? %>  
  <p class="centered"><%= link_to 'Create Contributed Session', new_contributed_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'contributed_sessions/description' %>  
<%= render partial: 'deadlines/presentation_submission' %>  

<ul class="list-group">
  <% @conference_sessions.each do |cs| %>
    <li class="list-group-item">
      <%= link_to cs, cs, remote: true %> 
    </li>
  <% end %>
</ul>

<h2>List of accepted contributed presentations</h2>

<ul class="list-group">
  <% cache 'presentations_list_cache' do %>
    <% Presentation.at_contributed.order(:name).each do |presentation| %>  
      <li class="list-group-item">
        <%= link_to presentation.name, presentation, remote: true %> 
      </li>
    <% end %>
  <% end %>
</ul>
