<%= title(@contributed_session) %>  

<p><%= @contributed_session.schedule %></p>

<% if current_user_owns?(@contributed_session) %>  
  <%= link_to icon('pencil')  + ' edit', [:edit, @contributed_session], class: :button %>  
  <%= link_to icon('clock-o') + ' schedule', new_session_schedule_path(@contributed_session), class: :button %>  
<% end %>

<h2>Presentations</h2>
<%= render @presentations, one_line: true, actions: :add %>  

<h2>Presentations to add</h2>
<%= render Presentation.unassigned.all, one_line: true, actions: :remove %>

