<div class="hotel-panel" id="hotel_<%= hotel.id %>">
<div class="panel-heading" style='height: 300px; background: url(<%= image_path(hotel.asset_image) %>) no-repeat center top; background-size: cover;'>
  <h2 style="background-color: rgba(255,255,255,0.8); padding: 20px 0; text-align: center; font-weight: bold ">
    <%= link_to hotel.name, hotel.web_page, target: :new %>
  </h2>
</div>
<div class="panel-body">
  <p><%= link_to icon('map-marker')    + " " + hotel.address, '#', class: "activate_address_link", data: {addressid: hotel.id} %></p>
  <% if hotel.booking_page %>  
    <p><%= link_to icon('external-link') + " booking page", hotel.booking_page, target: :new %></p>
  <% else %>
    <p><%= link_to icon('external-link') + " web page", hotel.web_page, target: :new %></p>
  <% end %>

  <p class='hotel_description'><%= hotel.description %></p>

  <table class="table table-condensed">
    <% Hotel.price_types.each do |price_type| %>  
      <% hotel.send(price_type) or next %>  
      <tr>
        <th><%= t I18n.t('activerecord.attributes.hotel.' + price_type.to_s)  %></th>
        <td>
          <%= hotel.send(price_type) %> € 
          <%= hotel.bb ? '(bb)' : '' %>
          <%= hotel.tax ? ' + tax' : '' %>
        </td>
      </tr>
    <% end %>
  </table>

  <% unless hotel.booking_page.blank? %>  
    <p class="alert alert-warning">Please use this <%= link_to 'link', hotel.booking_page, target: :new %> when booking this hotel.</p>
  <% end %>
</div>
<% if user_in_organizer_committee? %>  
  <div class="panel-footer">
    <p class="centered"><%= link_to_edit [:edit, hotel] %></p>
  </div>
<% end %>
</div>

