<h1><%= @presentation.minisymposium || @presentation.minitutorial %></h1>

<h2>New Speaker for "<%= @presentation %>"</h2>

<%= horizontal_form_for [@presentation, @speaker] do |speaker| %>  
  <%= speaker.dm_error_notification %>  

  <% uncorrect_email = (@speaker.email.blank? or @speaker.errors[:email].any?) %> 

  <%= speaker.input :email, readonly: ! uncorrect_email %>  

  <% unless uncorrect_email or @speaker.errors[:email].any? %> 
    <p>There is no user with the mail < <%= @speaker.email %> >.
       Please submit all the info</p>
    <%= speaker.input :name %>  
    <%= speaker.input :surname %>  
    <%= speaker.input :affiliation %>  
    <%= speaker.input :address %>  
  <% end %>
  <%= speaker.submit %>  
<% end %>


