<div id="footer" role="navigation">
<div class="container">
<hr/>
  <div class="row">
    <div class="col-md-4">
      <h3>SIAM Conference <small>on</small><br/>Imaging Science<br/><small>June 5-8, 2018</small></h3>
      <p>Bologna - Italy</p>
    </div>
    <div class="col-md-4">
      <div><%= image_tag 'three.png', class: "img-responsive" %></div>
      <p><%= link_to 'Society for Industrial and Applied Mathematics', 'https://www.siam.org/' %></p>
      <p><%= raw stop_impersonation_link %> <%= raw start_impersonation_link %></p>
      <p>Photo used under <%= link_to icon('creative-commons') + ' Creative Commons', 'https://creativecommons.org/licenses/by/2.0' %>. <br/> <%= link_to 'Credits', credits_path %>.</p>

      <p>&copy; Unibo 2016 - <%= link_to 'Privacy', privacy_path %></p>
    </div>
    <div class="col-md-4">
      <h3>Contacts:</h3>
      <p><%= commette_name %><br/>Dipartimento di Matematica<br/>Università di Bologna</p>
      <p>Piazza di Porta San Donato, 5<br/>
      40126 - Bologna - Italy</p>
      <p>
      <%= mail_to_siam %>  
      </p>
    </div>
  </div>
</div>
</div>

