<div class="home-header">  
<div class="container">
  <h1>
    SIAM Conference <br/>on <br/>IMAGING SCIENCE<br/>
    <small>June 5-8, 2018 Bologna - Italy</small>
  </h1>
</div>
</div>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home_page_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="home_page_navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "Preliminary Announcement", '#preliminary_announcement' %></li>
        <li><%= link_to "Conference Themes", '#conference_themes' %></li>
        <li><%= link_to "Organizing Committee", '#committees' %></li>
        <li><%= link_to "Important Dates", '#important_dates' %></li>
        <li><%= link_to "Invited Plenary Speakers", '#plenaries' %></li>
        <li><%= link_to "Venue & Hospitality", '#venue' %></li>
      </ul>
    </div>
  </div>
</nav>

