<div class="home_header">  
<div id="title_container">
  <div class="container">
    <h1 class="home_header_title">
      SIAM Conference <br/>
      on &nbsp; &nbsp; &nbsp; &nbsp;<br/>
      IMAGING SCIENCE<br/>
      <div class="home_header_title-date">
         June 5-8 2018<br/> 
         Bologna - Italy
      </div>
    </h1>
  </div>
</div>
</div>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home_page_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="home_page_navbar">
      <ul class="nav navbar-nav">
        <!-- <li><%= link_to "Preliminary Announcement", '#preliminary_announcement', class: "scrollto" %></li> -->
        <li><%= link_to "Conference Themes", '#conference_themes', class: "scrollto" %></li>
        <li><%= link_to "Committees", '#committees', class: "scrollto" %></li>
        <li><%= link_to "Submissions", '#submissions', class: "scrollto" %></li>
        <li><%= link_to "Important Dates", '#important_dates', class: "scrollto" %></li>
        <li><%= link_to "Invited Presentations", '#plenaries', class: "scrollto" %></li>
        <li><%= link_to "Venue & Hospitality", '#venue', class: "scrollto" %></li>
      </ul>
    </div>
  </div>
</nav>

