<div class="home_header">  
  <div class="container">
    <h1 class="home_header_title">
      <span>SIAM Conference on</span> <br/>
      <span>IMAGING SCIENCE</span><br/>
      <div class="home_header_title-date">
        <span>June 5-8, 2018</span><br/> 
        <span> Bologna - Italy</span>
      </div>
    </h1>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home_page_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="home_page_navbar">
      <ul class="nav navbar-nav">
        <!-- <li><%= link_to "Preliminary Announcement", '#preliminary_announcement', class: "scrollto" %></li> -->
        <li><%= link_to icon(:info) + " Conference Themes", '#conference_themes', class: "scrollto" %></li>
        <li><%= link_to icon(:users) + " Committees", '#committees', class: "scrollto" %></li>
        <li><%= link_to icon('envelope-o') + " Submissions", '#submissions', class: "scrollto" %></li>
        <li><%= link_to icon('calendar') + " Important Dates", '#important_dates', class: "scrollto" %></li>
        <li><%= link_to icon('diamond') + " Invited Presentations", '#plenaries', class: "scrollto" %></li>
        <li><%= link_to icon('hotel') + " Venue & Hospitality", '#venue', class: "scrollto" %></li>
        <li><%= link_to icon('gift') + " Sponsors", '#sponsors', class: "scrollto" %></li>
      </ul>
    </div>
  </div>
</nav>

