<header class="navbar navbar-default navbar-main" role="banner">
<div class="container-fluid">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div><!-- navbar-header -->

  <nav class="collapse navbar-collapse" id="bs-navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <%= menu_link 'home', 'HOME', root_path %>
      <%= dropdown_menu fwicon('map-o') + ' PROGRAM' do  %>  
        <%= menu_link 'user',      'Plenary presentations', plenaries_path %>  
        <%= menu_link 'wrench',    'Minitutorials', minitutorials_path %>
        <%= menu_link 'users',     'Minisymposia', minisymposia_path %>
        <%= menu_link 'users',     'Contributed presentations', contributed_sessions_path %>
        <%= menu_link 'picture-o', 'Poster sessions', poster_sessions_path %>
        <li class="divider"></li>
        <%= menu_link 'map-o',   'Participant list', participants_path %>  
        <%= menu_link 'calendar', 'Program day by day', '#' %>  
        <% if current_user and ! user_in_organizer_committee? %>  
          <li class="divider"></li>
          <%= menu_link 'map-o',    'My program', interests_path %>  
        <% end %>
      <% end %>

      <%= dropdown_menu fwicon('user') + ' INFO FOR PARTICIPANTS' do  %>  
        <% unless @conference_registration %>  
          <%= menu_link 'credit-card', 'Registration', new_conference_registration_path %>
        <% end %>
        <%= menu_link 'envelope-o', 'Submissions', submissions_path %>
        <%= menu_link 'plane', 'Student/Post-doc travel awards', travel_awards_path %>
        <%= menu_link 'university', 'Venue', venue_path %>
        <%= menu_link 'hotel', 'Accommodation', hotels_path %>
      <% end %>

      <% if current_user %>  
        <% if user_in_scientific_committee? %>  
          <%= dropdown_menu fwicon('gavel') + ' COMMITTEE' do %>
            <%= menu_link 'star', 'Minisymposia ratings', ratings_path(minisymposia: 1) %>
            <%= menu_link 'star', 'Submissions ratings', ratings_path %>
          <% end %>
        <% end %>
        <% if user_in_organizer_committee? %>  
          <%= dropdown_menu fwicon('magic') + ' ADMIN' do %>
            <%= menu_link 'file', 'Minisymposium submissions', submissions_path(minisymposium: 1) %>
            <%= menu_link 'file', 'Contributed session submissions', submissions_path(contributed: 1) %>
            <%= menu_link 'file', 'Poster session submissions', submissions_path(poster: 1) %>
            <li class="divider"></li>
            <%= menu_link 'building-o', 'Rooms', rooms_path %>
            <%= menu_link 'users', 'Users', users_path %>
            <%= menu_link 'euro', 'Registrations', conference_registrations_path %>
            <li class="divider"></li>
            <%= menu_link 'hotel', 'Hotels', hotels_path %>
          <% end %>
        <% end %>
      <% end %>
      <%= logged_user %>
    </ul>
  </nav>
</div><!-- container -->
</header>
