<ul id="dropdownsessions" class="dropdown-content">
  <li><%= link_to fwicon('circle') + ' Minitutorials', minitutorials_path %></li>
  <li><%= link_to fwicon('circle') + ' Minisymposia', minisymposia_path %></li>
  <li><%= link_to fwicon('circle') + ' Invited Plenary Speakers', '' %></li>
  <li><%= link_to fwicon('circle') + ' Poster Sessions', '' %></li>
  <li><%= link_to fwicon('circle') + ' Contributed Presentations', contributed_sessions_path %></li>
</ul>

<nav>
<div class="nav-wrapper">
  <%# <%= link_to image_tag('logo.png', width: @home_header ? 250 : 80), root_path, class: 'brand-logo' %1> %>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a class="dropdown-button" href="#!" data-activates="dropdownsessions"><%= material_icon.group.css_class('left') %> Sessions <%= material_icon.arrow_drop_down.css_class('right') %></a></li>
    <li><%= link_to "#{material_icon.chat_bubble.css_class('left')} Presentations".html_safe, presentations_path %></li>
  </ul>
</div>
</nav>

<%# <%= dropdown_menu fwicon('users') + ' Sessions' do  %1> %>  
<%# <% end %1> %>
      <%# <% if current_user %1> %>  
        <%#   <% if @registration %1> %>  
          <%#     <li><%= link_to fwicon('circle') + ' Your Registration', registration_path(@registration) %1></li> %>
          <%#   <% else %1> %>
            <%#     <li><%= link_to fwicon('credit-card') + ' Register', new_registration_path %1></li> %>
            <%#   <% end %1> %>
          <%# <% end %1> %>
        <%# <%= logged_user %1> %>

