<header class="navbar navbar-default" role="banner">
<div class="container-fluid">
  <div class="navbar-header">
    <%= link_to image_tag('logo.png', width: @home_header ? 140 : 70, style: "background-color: rgba(255, 255, 255, 0.7);"), root_path, class: 'navbar-brand navbar-icon is18-icon' %>  
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div><!-- navbar-header -->

  <nav class="collapse navbar-collapse" id="bs-navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <%= menu_link 'home', 'Home', root_path %>
      <%= dropdown_menu fwicon('map-o') + ' Program' do  %>  
        <%= menu_link 'user',      'Plenary Sessions', plenaries_path %>  
        <%= menu_link 'wrench',    'Minitutorials', minitutorials_path %>
        <%= menu_link 'users',     'Minisymposia', minisymposia_path %>
        <%= menu_link 'users',     'Contributed Presentations', contributed_sessions_path %>
        <%= menu_link 'picture-o', 'Poster Sessions', poster_sessions_path %>
        <li class="divider"></li>
        <%= menu_link 'map-o',   'Participant List', participants_path %>  
        <% if current_user and ! user_in_organizer_committee? %>  
          <li class="divider"></li>
          <%= menu_link 'map-o',   'MY PROGRAM', interests_path %>  
        <% end %>
      <% end %>
      <% if current_user %>  
        <% if user_in_scientific_committee? %>  
          <%= dropdown_menu fwicon('gavel') + ' Committee' do %>
            <%= menu_link 'star', 'Minisymposia ratings', ratings_path(minisymposia: 1) %>
            <%= menu_link 'star', 'Submissions ratings', ratings_path %>
          <% end %>
        <% end %>
        <% if user_in_organizer_committee? %>  
          <%= dropdown_menu fwicon('magic') + ' Admin' do %>
            <%= menu_link 'file', 'Minisymposium submissions', submissions_path(minisymposium: 1) %>
            <%= menu_link 'file', 'Contributed session submissions', submissions_path(contributed: 1) %>
            <%= menu_link 'file', 'Poster session submissions', submissions_path(poster: 1) %>
            <li class="divider"></li>
            <%= menu_link 'building-o', 'Rooms', rooms_path %>
            <%= menu_link 'users', 'Users', users_path %>
            <%= menu_link 'euro', 'Registrations', conference_registrations_path %>
            <li class="divider"></li>
            <%= menu_link 'hotel', 'Hotels', hotels_path %>
          <% end %>
        <% else %>
          <%= menu_link 'inbox', 'Submissions', submissions_path %>
          <% unless @conference_registration %>  
            <%= menu_link 'credit-card', 'Registration', new_conference_registration_path %>
          <% end %>
        <% end %>
      <% end %>
      <%= logged_user %>
      <li><small>test date: <%= l(Date.today, format: :short) %></small></li>
    </ul>
  </nav>
</div><!-- container -->
</header>
