<header class="navbar navbar-default navbar-main navbar-fixed-top" role="banner">
<div class="container-fluid">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div><!-- navbar-header -->

  <nav class="collapse navbar-collapse" id="bs-navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <% cache 'common_menu' do %>
        <%= dropdown_menu fwicon('home') + ' GENERAL INFORMATION' do  %>
          <%= menu_link 'home',         'Home page', root_path, 'general' %>
          <%= menu_link 'bullhorn',     'Announcement', root_path(anchor: 'preliminary_announcement'), 'general' %>
          <%= menu_link 'info',         'Conference Themes', root_path(anchor: 'conference_themes'), 'general' %>
          <%= menu_link 'users',        'Committees', root_path(anchor: 'committees'), 'general' %>
          <%= menu_link 'calendar',     'Important Dates and Deadlines', root_path(anchor: 'important_dates'), 'general' %>
          <%= menu_link 'microphone',   'Invited Presentations', root_path(anchor: 'invited'), 'general' %>
          <%= menu_link 'trophy',       'Awards', root_path(anchor: 'awards'), 'general' %>
          <%= menu_link 'hotel',        'Venue & Hospitality', root_path(anchor: 'venue'), 'general' %>
          <%= menu_link 'tv',           'Exhibits', root_path(anchor: 'exhibits'), 'general' %>
          <%= menu_link 'gift',         'Sponsors', root_path(anchor: 'sponsors'), 'general' %>
        <% end %>
        <%= dropdown_menu fwicon('map-o') + ' PROGRAM' do  %>  
          <%= menu_link 'user',        'Plenary presentations', plenaries_path %>  
          <%= menu_link 'trophy',      'Prize Lectures', prize_path %>  
          <%= menu_link 'wrench',      'Minitutorials', minitutorials_path %>
          <%= menu_link 'users',       'Minisymposia', minisymposia_path %>
          <%= menu_link 'users',       'Contributed presentations', contributed_sessions_path %>
          <%= menu_link 'picture-o',   'Poster sessions', poster_sessions_path %>
          <li class="divider"></li>
          <%= menu_link 'map-o',       'Participant list', participants_path %>  
          <%= menu_link 'calendar',    'Program day by day', conference_program_path %>  
          <li class="divider"></li>
          <%= menu_link 'handshake-o', 'Satellite events', satellites_path %>
          <%# <%= menu_link 'map-o',      'My program', interests_path %>  
        <% end %>
      <% end %> <!-- cache common_menu -->

      <%= dropdown_menu fwicon('user') + ' INFO FOR PARTICIPANTS' do  %>  
        <%= menu_link 'credit-card',  'Registration', new_conference_registration_path %>
        <%= menu_link 'envelope-o',   'Submissions', submissions_path %>
        <li class="divider"></li>
        <%= menu_link 'child',        'Child Care', child_care_path %>
        <%= menu_link 'file',         'Visa and Letter of Invitation', visa_path %>
        <%= menu_link 'plane',        'Student/Post-doc travel awards', travel_awards_path %>
        <%= menu_link 'video-camera', 'Audio-visual Policy ', equipments_path %>
        <li class="divider"></li>
        <%= menu_link 'university',   'Venue', venue_path %>
        <%= menu_link 'hotel',        'Accommodation', hotels_path %>
        <% if current_user %>  
          <li class="divider"></li>
          <%= menu_link 'user',          'Your personal data', edit_user_path(current_user) %>
        <% end %>
      <% end %>

      <% if current_user %>  
        <% if user_in_management_committee? %>  
          <%= dropdown_menu fwicon('info-circle') + ' INFO' do %>
            <%= menu_link 'euro', 'Registrations', conference_registrations_path %>
            <%= menu_link 'users', 'Users', users_path %>
          <% end %>
        <% end %>
        <% if user_in_scientific_committee? %>  
          <%= dropdown_menu fwicon('gavel') + ' COMMITTEE' do %>
            <%= menu_link 'star', 'Minisymposia submissions', admin_submissions_path(minisymposium: 1) %>
            <% if user_cochair? %>  
              <%= menu_link 'star', 'All ratings', ratings_path %>
              <%= menu_link 'users', 'Users', users_path %>
            <% end %>
          <% end %>
        <% end %>
        <% if user_in_organizer_committee? %>  
          <%= dropdown_menu fwicon('magic') + ' ADMIN' do %>
            <li class="dropdown-header">Submissions</li>
            <%= menu_link 'file', 'Minisymposia', admin_submissions_path(minisymposium: 1) %>
            <%= menu_link 'file', 'Contributed Sessions', admin_submissions_path(contributed: 1) %>
            <%= menu_link 'file', 'Poster Sessions', admin_submissions_path(poster: 1) %>
            <%= menu_link 'file-pdf-o',  'Minisymposia pdf', print_minisymposia_path %>
            <li class="divider"></li>
            <%= menu_link 'star', 'Ratings', ratings_path %>
            <li class="divider"></li>
            <%= menu_link 'users', 'Users', users_path %>
            <%= menu_link 'bullhorn', 'speakers csv', users_path(format: :csv, speakers: true) %>
            <%= menu_link 'euro', 'Registrations', conference_registrations_path %>
            <li class="divider"></li>
            <%= menu_link 'building-o', 'Rooms', rooms_path %>
            <%= menu_link 'file', 'Invitation Letter Requests', invitation_letters_path %>
            <li class="divider"></li>
            <%= menu_link 'hotel', 'Accommodation', hotels_path %>
            <li class="divider"></li>
            <%= menu_link 'key', 'Keywords', tags_path %>
          <% end %>
        <% end %>
      <% end %>
      <%= logged_user %>
    </ul>
  </nav>
</div><!-- container -->
</header>
