<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Siam Is-18">
    <meta name="Description" content="SIAM Conference on IMAGING SCIENCE. 5-8 June 2018.">
    <title>Siam-IS18</title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/menu' %>
    <%= render partial: 'layouts/header' if @home_header %>  

    <div class="container">
      <%= bootstrap_flash %>
      <%= bootstrap_modal_div %>
      <%= privacy_alert %>

      <%= yield %>
    </div>

    <%= render partial: 'layouts/footer' %>  
  </body>
</html>
